In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl

In [210]:
a=['yes','no']
b=['yes','yes','no']

In [216]:
df=pd.DataFrame({'Chestpain':np.random.choice(a,300),
                'Blood_cir':np.random.choice(a,300),
                'Blocked_art':np.random.choice(a,300),
               'Heart_disease':np.random.choice(b,300)})
df.head(20)

   Chestpain Blood_cir Blocked_art Heart_disease
0        yes        no         yes           yes
1        yes        no         yes           yes
2        yes       yes         yes           yes
3         no       yes          no            no
4        yes        no         yes           yes
5         no        no         yes            no
6         no       yes         yes            no
7         no       yes          no            no
8         no       yes          no           yes
9        yes        no          no           yes
10        no        no          no           yes
11       yes       yes         yes            no
12        no        no          no           yes
13       yes        no          no           yes
14       yes       yes          no           yes
15        no       yes         yes           yes
16        no        no         yes           yes
17       yes       yes          no           yes
18        no       yes         yes           yes
19       yes       yes         yes           yes

In [151]:
np.unique(df[(df.Blood_cir=='yes')&(df.Heart_disease=='yes')].Heart_disease,return_counts=True)

(array(['yes'], dtype=object), array([78], dtype=int64))

In [217]:
key=['yes','no']
a=[]
for i in df.columns[:3]:
    for j in key:
        for k in key:
            a.append([i,j,k,np.unique(df[(df[i]==j)&(df.Heart_disease==k)].Heart_disease,return_counts=True)])

In [218]:
a

[['Chestpain',
  'yes',
  'yes',
  (array(['yes'], dtype=object), array([101], dtype=int64))],
 ['Chestpain',
  'yes',
  'no',
  (array(['no'], dtype=object), array([58], dtype=int64))],
 ['Chestpain',
  'no',
  'yes',
  (array(['yes'], dtype=object), array([88], dtype=int64))],
 ['Chestpain',
  'no',
  'no',
  (array(['no'], dtype=object), array([53], dtype=int64))],
 ['Blood_cir',
  'yes',
  'yes',
  (array(['yes'], dtype=object), array([88], dtype=int64))],
 ['Blood_cir',
  'yes',
  'no',
  (array(['no'], dtype=object), array([59], dtype=int64))],
 ['Blood_cir',
  'no',
  'yes',
  (array(['yes'], dtype=object), array([101], dtype=int64))],
 ['Blood_cir',
  'no',
  'no',
  (array(['no'], dtype=object), array([52], dtype=int64))],
 ['Blocked_art',
  'yes',
  'yes',
  (array(['yes'], dtype=object), array([101], dtype=int64))],
 ['Blocked_art',
  'yes',
  'no',
  (array(['no'], dtype=object), array([60], dtype=int64))],
 ['Blocked_art',
  'no',
  'yes',
  (array(['yes'], dtype=object), array([88], dtype=int64))],
 ['Blocked_art',
  'no',
  'no',
  (array(['no'], dtype=object), array([51], dtype=int64))]]

In [220]:
datas={'cp':[[101,58],[88,53]],
      'bc':[[88,59],[101,52]],
      'ba':[[101,60],[88,51]],}

In [221]:
datas

{'cp': [[101, 58], [88, 53]],
 'bc': [[88, 59], [101, 52]],
 'ba': [[101, 60], [88, 51]]}

In [222]:
for i in datas:
    sum_i=np.sum(datas[i][0])
    sum_j=np.sum(datas[i][1])
    for j in datas[i]:
        sum=np.sum(j)
        print(j[0],j[1],j,sum)
        a=1-(j[0]/sum)**2-(j[1]/sum)**2
        print(np.round(a,2))
#     gini=1-()
# sum_i,sum_j
np.round(a,2)

101 58 [101, 58] 159
0.46
88 53 [88, 53] 141
0.47
88 59 [88, 59] 147
0.48
101 52 [101, 52] 153
0.45
101 60 [101, 60] 161
0.47
88 51 [88, 51] 139
0.46

0.46

In [209]:
1-(70/(70+74))**2-(74/(70+74))**2

0.4996141975308643

In [260]:
dff=pd.read_csv('heart.csv')
dff.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [261]:
dff=dff.replace(0,'no')
dff=dff.replace(1,'yes')
dff=dff.replace(2,'yes')

dff

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,yes,3,145,233,yes,no,150,no,2.3,no,no,yes,yes
1,37,yes,yes,130,250,no,yes,187,no,3.5,no,no,yes,yes
2,41,no,yes,130,204,no,no,172,no,1.4,yes,no,yes,yes
3,56,yes,yes,120,236,no,yes,178,no,0.8,yes,no,yes,yes
4,57,no,no,120,354,no,yes,163,yes,0.6,yes,no,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,no,no,140,241,no,yes,123,yes,0.2,yes,no,3,no
299,45,yes,3,110,264,no,yes,132,no,1.2,yes,no,3,no
300,68,yes,no,144,193,yes,yes,141,no,3.4,yes,yes,3,no
301,57,yes,no,130,131,no,yes,115,yes,1.2,yes,yes,3,no
302,57,no,yes,130,236,no,no,174,no,no,yes,yes,yes,no

In [262]:
new_df=dff[['sex','fbs','restecg','exang','target']]
new_df

     sex  fbs restecg exang target
0    yes  yes      no    no    yes
1    yes   no     yes    no    yes
2     no   no      no    no    yes
3    yes   no     yes    no    yes
4     no   no     yes   yes    yes
..   ...  ...     ...   ...    ...
298   no   no     yes   yes     no
299  yes   no     yes    no     no
300  yes  yes     yes    no     no
301  yes   no     yes   yes     no
302   no   no      no    no     no

[303 rows x 5 columns]

In [263]:
np.unique(new_df.target)
np.unique(dff.restecg,return_counts=True)

(array(['no', 'yes'], dtype=object), array([147, 156], dtype=int64))

In [264]:
key=['yes','no']
a=[]
for i in new_df.columns[:3]:
    for j in key:
        for k in key:
            a.append([i,j,k,np.unique(new_df[(new_df[i]==j)&(new_df.target==k)].target,return_counts=True)])

In [265]:
a

[['sex',
  'yes',
  'yes',
  (array(['yes'], dtype=object), array([93], dtype=int64))],
 ['sex',
  'yes',
  'no',
  (array(['no'], dtype=object), array([114], dtype=int64))],
 ['sex',
  'no',
  'yes',
  (array(['yes'], dtype=object), array([72], dtype=int64))],
 ['sex', 'no', 'no', (array(['no'], dtype=object), array([24], dtype=int64))],
 ['fbs',
  'yes',
  'yes',
  (array(['yes'], dtype=object), array([23], dtype=int64))],
 ['fbs', 'yes', 'no', (array(['no'], dtype=object), array([22], dtype=int64))],
 ['fbs',
  'no',
  'yes',
  (array(['yes'], dtype=object), array([142], dtype=int64))],
 ['fbs', 'no', 'no', (array(['no'], dtype=object), array([116], dtype=int64))],
 ['restecg',
  'yes',
  'yes',
  (array(['yes'], dtype=object), array([97], dtype=int64))],
 ['restecg',
  'yes',
  'no',
  (array(['no'], dtype=object), array([59], dtype=int64))],
 ['restecg',
  'no',
  'yes',
  (array(['yes'], dtype=object), array([68], dtype=int64))],
 ['restecg',
  'no',
  'no',
  (array(['no'], dtype=object), array([79], dtype=int64))]]

In [267]:
datas={'sex':[[93,114],[72,24]],
      'fbs':[[23,22],[142,116]],
      'restecg':[[97,59],[68,79]],}

In [296]:
ginis=[]
for i in datas:
    sum_i=np.sum(datas[i][0])
    sum_j=np.sum(datas[i][1])
    for j in datas[i]:
        sum=np.sum(j)
        print(j[0],j[1],j,sum)
        a=1-(j[0]/sum)**2-(j[1]/sum)**2
        print(np.round(a,2))
        ginis.append(np.round(a,2))
#     gini=1-()
# sum_i,sum_j
np.round(a,2)

93 114 [93, 114] 207
0.49
72 24 [72, 24] 96
0.38
23 22 [23, 22] 45
0.5
142 116 [142, 116] 258
0.49
97 59 [97, 59] 156
0.47
68 79 [68, 79] 147
0.5

0.5

In [299]:
ginis

[[0.49, 0.38], [0.5, 0.49], [0.47, 0.5]]

In [338]:
ginis=[[0.49, 0.38],[ 0.5, 0.49],[0.47, 0.5]]
totals=[]
for i in datas:
    i_0=datas[i][0]
    i_1=datas[i][1]
    total=np.sum(datas[i])
    total_0=np.sum(datas[i][0])
    total_1=np.sum(datas[i][1])
    print(i_0,i_1)
    print(total_0,total_1)
    totals.append([total_0,total_1])

[93, 114] [72, 24]
207 96
[23, 22] [142, 116]
45 258
[97, 59] [68, 79]
156 147

In [339]:
ginis

[[0.49, 0.38], [0.5, 0.49], [0.47, 0.5]]

In [333]:
summ=[]
for i in range(3):
    sum=((totals[i][0]/303)*ginis[i][0]+(totals[i][1]/303)*ginis[i][1])
    summ.append(sum)

In [337]:
np.round(summ,2)

array([0.46, 0.49, 0.48])

In [342]:
val=((207/303)*0.49)+((96/303)*0.38)
np.round(val,2)

0.46

In [327]:
totals[0][1]

96

In [329]:
ginis[0][1]

0.38