In [1]:
import pandas as pd
import matplotlib.pyplot as pl

In [5]:
df=pd.read_excel('excelDashboard.xlsx',names=['Month','FinancialYear','Chain','Suburb','State','PostCode','Country','Manager','Category','Buyer','Sales'])

In [11]:
df['Year']=pd.to_datetime(df['Month']).dt.year

In [17]:
df['Mnth']=pd.to_datetime(df['Month']).dt.strftime('%b')

In [18]:
df.head()

,Month,FinancialYear,Chain,Suburb,State,PostCode,Country,Manager,Category,Buyer,Sales,Year,Mnth
0,2016-01-01,2015/16,Fashions Direct,Chatswood,NSW,2067,Australia,Jeremy Garcia,Juniors,Chester George,149.95,2016,Jan
1,2016-01-01,2015/16,Fashions Direct,Chatswood,NSW,2067,Australia,Jeremy Garcia,Mens,Bruce Curran,14.00,2016,Jan
2,2016-01-01,2015/16,Fashions Direct,Chatswood,NSW,2067,Australia,Jeremy Garcia,Juniors,Chester George,12.00,2016,Jan
3,2016-01-01,2015/16,Fashions Direct,Chatswood,NSW,2067,Australia,Jeremy Garcia,Womens,Amy Buchanan,46.94,2016,Jan
4,2016-01-01,2015/16,Fashions Direct,Chatswood,NSW,2067,Australia,Jeremy Garcia,Juniors,Chester George,-2.99,2016,Jan

In [33]:
df_plot=df.groupby(['Year','Mnth','Chain'])['Sales'].sum().unstack()

In [39]:
df_plot=df_plot.reset_index()
df_plot

Chain  Year Mnth  Fashions Direct   Next Look
0      2016  Apr       2275264.31   931846.16
1      2016  Aug       2566900.11   873421.68
2      2016  Dec       2282358.14   941576.29
3      2016  Feb       1680793.10   780547.47
4      2016  Jan       1435790.99   704827.06
5      2016  Jul       2279376.06   904201.08
6      2016  Jun       1914792.00   829413.73
7      2016  Mar       1876303.90   848780.37
8      2016  May       1709697.75   751069.43
9      2016  Nov       2023230.24   811479.41
10     2016  Oct       1871488.10   774141.57
11     2016  Sep       2657149.69  1119773.80
12     2017  Apr       1920956.99   774141.57
13     2017  Feb       1938111.14   813872.15
14     2017  Jan       1430297.74   552278.50
15     2017  Jul       1766431.22   654897.22
16     2017  Jun       2240124.47   941576.29
17     2017  Mar       2729963.38  1119773.80
18     2017  May       1943181.33   811479.41