In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl
import seaborn as sns
import plotly.express as px
import plotly.graph_objs as go
sns.set_style('whitegrid')
plt.style.use('fivethirtyeight')
%matplotlib inline
from pandas_datareader.data import DataReader
from datetime import datetime

In [2]:
hist_quotes_df=pd.read_csv('HistoricalQuotes.csv')

In [3]:
hist_quotes_df.head()

         Date  Close/Last     Volume      Open      High       Low
0  02/28/2020     $273.36  106721200   $257.26   $278.41   $256.37
1  02/27/2020     $273.52   80151380    $281.1      $286   $272.96
2  02/26/2020     $292.65   49678430   $286.53   $297.88    $286.5
3  02/25/2020     $288.08   57668360   $300.95   $302.53   $286.13
4  02/24/2020     $298.18   55548830   $297.26   $304.18   $289.23

In [4]:
tech_list=['AAPL','GOOG','MSFT','AMZN']

end=datetime.now()

start=datetime(end.year-1,end.month,end.day)

for stock in tech_list:
    globals()[stock]=DataReader(stock,'yahoo',start,end)

In [5]:
stock

'AMZN'

In [11]:
globals()[stock].head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-11-11,1780.000000,1767.130005,1778.000000,1771.650024,1946000,1771.650024
2019-11-12,1786.219971,1771.910034,1774.660034,1778.000000,2037600,1778.000000
2019-11-13,1775.000000,1747.319946,1773.390015,1753.109985,2989500,1753.109985
2019-11-14,1766.589966,1749.560059,1751.430054,1754.599976,2264800,1754.599976
2019-11-15,1761.680054,1732.859985,1760.050049,1739.489990,3927600,1739.489990

In [20]:
company_list=[AAPL,GOOG,MSFT,AMZN]
company_name=['APPLE','GOOGLE','MICROSOFT','AMAZON']

for company,comp_name in zip(company_list,company_name):
    company['company_name']=comp_name
df=pd.concat(company_list,axis=0)
df.head()

,High,Low,Open,Close,Volume,Adj Close,company_name
Date,,,,,,,
2019-11-11,65.617500,64.570000,64.574997,65.550003,81821200.0,64.460991,APPLE
2019-11-12,65.697502,65.230003,65.387497,65.489998,87388800.0,64.401978,APPLE
2019-11-13,66.195000,65.267502,65.282501,66.117500,102734400.0,65.019051,APPLE
2019-11-14,66.220001,65.525002,65.937500,65.660004,89182800.0,64.569160,APPLE
2019-11-15,66.445000,65.752502,65.919998,66.440002,100206400.0,65.336212,APPLE