In [1]:
import pandas as pd

In [84]:
df=pd.read_csv('brain.csv')
df.drop(columns=['Unnamed: 0'],inplace=True)
df.shape

(237, 4)

In [36]:
df.columns

Index(['Gender', 'Age Range', 'size', 'wt'], dtype='object')

In [37]:
df1=df.copy()
df2=pd.DataFrame(columns=df.columns)
df2

Empty DataFrame
Columns: [Gender, Age Range, size, wt]
Index: []

In [38]:
import os
os.remove('file.txt')

In [39]:
df2.to_csv("file.txt",index=False)

In [40]:
df=pd.read_csv("file.txt",delimiter=',')
df

Empty DataFrame
Columns: [Gender, Age Range, size, wt]
Index: []

In [46]:
df1=df.head(10).copy()
df1

   Gender  Age Range  size    wt
0       1          1  4512  1530
1       1          1  3738  1297
2       1          1  4261  1335
3       1          1  3777  1282
4       1          1  4177  1590
5       1          1  3585  1300
6       1          1  3785  1400
7       1          1  3559  1255
8       1          1  3613  1355
9       1          1  3982  1375

In [75]:
for i,j in df1.iterrows():
    print(j[3])
    print()

1530

1297

1335

1282

1590

1300

1400

1255

1355

1375

In [85]:
del df