In [15]:
import numpy as np
import pandas as pd
df = pd.DataFrame([[1, np.nan, 2],
[2, 3, np.nan],
[np.nan, 4, 6]])
df.isnull()

       0      1      2
0  False   True  False
1  False  False   True
2   True  False  False

In [16]:
df.notnull()

       0      1      2
0   True  False   True
1   True   True  False
2  False   True   True

In [17]:
df

     0    1    2
0  1.0  NaN  2.0
1  2.0  3.0  NaN
2  NaN  4.0  6.0

In [18]:
df.fillna(method='ffill')

     0    1    2
0  1.0  NaN  2.0
1  2.0  3.0  2.0
2  2.0  4.0  6.0