In [10]:
import numpy as np
import pandas as pd

In [4]:
x=10
y=20
eval('x+y')

30

In [6]:
eval('x*y')

200

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]

In [16]:
# rng=np.random.RandomState(42)
# x=rng.rand(1E6)
# y=rng.rand(1E6)
# %timeit x+y

In [36]:
nrows,ncols=100000,10
rng=np.random.RandomState(42)

In [37]:
df1,df2,df3,df4=(pd.DataFrame(rng.rand(nrows,ncols)) for i in range(4))

In [21]:
%timeit df1+df2+df3+df4

71.8 ms ± 327 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [22]:
%timeit pd.eval('df1+df2+df3+df4')

31.8 ms ± 98.6 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [33]:
# pd.eval is much faster than normal arithmetic operations
# It supports all arithmetic operations too

In [38]:
df1.head()

,0,1,2,3,4,5,6,7,8,9
0,0.374540,0.950714,0.731994,0.598658,0.156019,0.155995,0.058084,0.866176,0.601115,0.708073
1,0.020584,0.969910,0.832443,0.212339,0.181825,0.183405,0.304242,0.524756,0.431945,0.291229
2,0.611853,0.139494,0.292145,0.366362,0.456070,0.785176,0.199674,0.514234,0.592415,0.046450
3,0.607545,0.170524,0.065052,0.948886,0.965632,0.808397,0.304614,0.097672,0.684233,0.440152
4,0.122038,0.495177,0.034389,0.909320,0.258780,0.662522,0.311711,0.520068,0.546710,0.184854

In [40]:
df1.columns=['a','b','c','d','e','f','g','h','i','j']

In [52]:
res1=df1.a+df1.b
res2=pd.eval('df1.a+df1.b')
a=np.equal(res1,res2)
a

0        True
1        True
2        True
3        True
4        True
         ...
99995    True
99996    True
99997    True
99998    True
99999    True
Length: 100000, dtype: bool