In [106]:
import pandas as pd
import numpy as np
df=pd.DataFrame([[1,2,3,4],[5,6,7,8],[],[1,2,3,4]],
                columns=['a','b','c','d'],index=["A","B","C","D"])
print(df)
dff=pd.Series([[1,2,3],[4,5,6],[7,8,9]])
dff

     a    b    c    d
A  1.0  2.0  3.0  4.0
B  5.0  6.0  7.0  8.0
C  NaN  NaN  NaN  NaN
D  1.0  2.0  3.0  4.0

0    [1, 2, 3]
1    [4, 5, 6]
2    [7, 8, 9]
dtype: object

In [107]:
df[2:3]=df[2:3].fillna(np.mean(df.b))

In [108]:
df

          a         b         c         d
A  1.000000  2.000000  3.000000  4.000000
B  5.000000  6.000000  7.000000  8.000000
C  3.333333  3.333333  3.333333  3.333333
D  1.000000  2.000000  3.000000  4.000000