In [265]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [266]:
df=pd.read_csv('StockSentiment.csv',encoding='latin',parse_dates=True)

In [267]:
df.head(3)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2000-01-03,0,A 'hindrance to operations': extracts from the...,Scorecard,Hughes' instant hit buoys Blues,Jack gets his skates on at ice-cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl's successor drawn into scandal,The difference between men and women,"Sara Denver, nurse turned solicitor",Diana's landmine crusade put Tories in a panic,Yeltsin's resignation caught opposition flat-f...,Russian roulette,Sold out,Recovering a title
1,2000-01-04,0,Scorecard,The best lake scene,Leader: German sleaze inquiry,"Cheerio, boyo",The main recommendations,Has Cubie killed fees?,Has Cubie killed fees?,Has Cubie killed fees?,...,On the critical list,The timing of their lives,Dear doctor,Irish court halts IRA man's extradition to Nor...,Burundi peace initiative fades after rebels re...,PE points the way forward to the ECB,Campaigners keep up pressure on Nazi war crime...,Jane Ratcliffe,Yet more things you wouldn't know without the ...,Millennium bug fails to bite
2,2000-01-05,0,Coventry caught on counter by Flo,United's rivals on the road to Rio,Thatcher issues defence before trial by video,Police help Smith lay down the law at Everton,Tale of Trautmann bears two more retellings,England on the rack,Pakistan retaliate with call for video of Walsh,Cullinan continues his Cape monopoly,...,South Melbourne (Australia),Necaxa (Mexico),Real Madrid (Spain),Raja Casablanca (Morocco),Corinthians (Brazil),Tony's pet project,Al Nassr (Saudi Arabia),Ideal Holmes show,Pinochet leaves hospital after tests,Useful links

In [268]:
# train=df[df['Date']<'2015-01-01']
# test=df[df['Date']>'2014-12-31']

In [269]:
train,test=train_test_split(df)

In [270]:
test.shape

(1026, 27)

In [271]:
train.shape

(3075, 27)

In [272]:
test.shape

(1026, 27)

In [273]:
data=train.iloc[:,2:]
data.replace('[^a-zA-Z]',' ',regex=True,inplace=True)
list1=[i for i in range(25)]
new_index=[str(i) for i in list1]
data.columns=new_index
data.head(3)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
1656,UK news in brief,Thames Water sold for bn to Australian bank ...,Bright new Vista for Microsoft and EC after th...,Different cultures same concerns,Bank error in my favour what should I do,Can my credit card be cancelled without warning,Sam Wollaston on last night s TV,Polar explorer brought in from the cold after ...,Life sentence for teenager who murdered school...,Players walk away as US law wipes out of P...,...,Man guilty of murder bid with latex glove,US says air tests confirm that blast was nuclear,Record advance sales for Vel zquez show,Not for sale yet the cursed pieces of s...,Radio pick of the day,Obituary Mazisi Kunene,Obituary Lucilla Andrews,Obituary Chandra Gurung,Letters Russian clampdown,Letters Iraq s impact on human rights
1052,Danvers devastated at news of pregnancy,Fight for Liverpool gets serious,Bradford tell players to find new clubs,Fans in a fizz over Coca Cola,Woodward misses transparent draw,The Rugby World Cup,Seaham Hall Hotel and Serenity Spa,The best in the business,feared dead in factory blast,Islamist website shows beheading,...,Probation staff in demo over merger plans,Business news in brief,Blair I will quit if I become electoral liabi...,Martin Kettle Blair must listen to those he d...,General lists failures that led to abuse,Fine tuning China s brakes,Spy chips raise civil liberties fears,Blair defends negative EU election campaign,Lack of scientists prompts natural history wor...,Is blog a masculine noun
1544,Champions League Barcelona Milan Agg ...,Premiership West Ham United Liverpool,Kevin McCarra Big Phil is the boldest appoint...,Higher fees a deterrent say graduates,Professors attack illegal drugs rating system,Battle for the soul and bank balance of New Yo...,Safe burial plan for waste may clear way for...,Country diary Loch Flemington,Briton accused of central role in Libya s nucl...,People,...,Songbirds tune in to basic grammar says study,Letter Progress in Pakistan,Thousands in Sri Lanka flee bombing raids,Putin diverts new oil pipeline from Lake Baika...,Troubled island,Rice and Rumsfeld bury the hatchet for Iraq visit,Letters Threat of war over Iran s nuclear plans,Obituary Jeremy Janes,Obituary Marillyn Gray,Suicide bomb attacks at Sinai peacekeeping base

In [274]:
for i in data.columns:
    data[i]=data[i].str.lower()
data.head(2)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
1656,uk news in brief,thames water sold for bn to australian bank ...,bright new vista for microsoft and ec after th...,different cultures same concerns,bank error in my favour what should i do,can my credit card be cancelled without warning,sam wollaston on last night s tv,polar explorer brought in from the cold after ...,life sentence for teenager who murdered school...,players walk away as us law wipes out of p...,...,man guilty of murder bid with latex glove,us says air tests confirm that blast was nuclear,record advance sales for vel zquez show,not for sale yet the cursed pieces of s...,radio pick of the day,obituary mazisi kunene,obituary lucilla andrews,obituary chandra gurung,letters russian clampdown,letters iraq s impact on human rights
1052,danvers devastated at news of pregnancy,fight for liverpool gets serious,bradford tell players to find new clubs,fans in a fizz over coca cola,woodward misses transparent draw,the rugby world cup,seaham hall hotel and serenity spa,the best in the business,feared dead in factory blast,islamist website shows beheading,...,probation staff in demo over merger plans,business news in brief,blair i will quit if i become electoral liabi...,martin kettle blair must listen to those he d...,general lists failures that led to abuse,fine tuning china s brakes,spy chips raise civil liberties fears,blair defends negative eu election campaign,lack of scientists prompts natural history wor...,is blog a masculine noun

In [275]:
headlines=[]
for row in range(len(data.index)):
    headlines.append(' '.join(str(x) for x in data.iloc[row,:]))

In [276]:
headlines[0]

'uk news in brief thames water sold for   bn to australian bank macquarie bright new vista for microsoft and ec after their seven year war different cultures  same concerns bank error in my favour   what should i do  can my credit card be cancelled without warning  sam wollaston on last night s tv polar explorer brought in from the cold after    years life sentence for teenager who murdered schoolboy in  savage  kitchen knife attack players walk away as us law wipes out     of partygaming s poker revenue obituary  peter hepple french cafe games get a tax break widow of nimrod crash victim calls for more investment in fleet shell s environmental efforts fail to quell russian threat allianz chief seeks single watchdog for europe man guilty of murder bid with latex glove us says air tests confirm that blast was nuclear record advance sales for vel zquez show not for sale yet   the  cursed     pieces of silver worth     m radio pick of the day obituary  mazisi kunene obituary  lucilla andrews obituary  chandra gurung letters  russian clampdown letters  iraq s impact on human rights'

In [288]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

In [289]:
cv=TfidfVectorizer()
traindata=cv.fit_transform(headlines)

In [290]:
traindata.shape

(3075, 41282)

In [291]:
randomcl=RandomForestClassifier(n_estimators=200,criterion='entropy')
randomcl.fit(traindata,train['Label'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [293]:
randomcl.score(traindata,train['Label'])

1.0

In [294]:
testdata=test.iloc[:,2:]
testdata.replace('[^a-zA-Z]',' ',regex=True,inplace=True)
list1=[i for i in range(25)]
new_index=[str(i) for i in list1]
testdata.columns=new_index

for i in testdata.columns:
    testdata[i]=testdata[i].str.lower()
    

test_headlines=[]
for row in range(len(testdata.index)):
    test_headlines.append(' '.join(str(x) for x in testdata.iloc[row,:]))

In [295]:
test_data=cv.transform(test_headlines)

In [296]:
pred=randomcl.predict(test_data)

In [297]:
accuracy_score(pred,test['Label'])

0.5224171539961013

In [298]:
from sklearn.linear_model import LogisticRegression
lg=LogisticRegression()
lg.fit(traindata,train['Label'])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [300]:
lg.score(traindata,train['Label']),lg.score(test_data,test['Label'])

(0.95869918699187, 0.52046783625731)