In [280]:
import numpy as np
import pandas as pd

In [281]:
s1=pd.Series(['good boy','good girl','boy girl good'])

In [282]:
s1

0         good boy
1        good girl
2    boy girl good
dtype: object

In [283]:
temp=[]
for i in range(len(s1)):
    temp.extend(s1[i].split())
index=list(set(temp))
index

['girl', 'boy', 'good']

TF=no of rep of words in sentence/
no of words in sentence

IDF=log(no of sentences/no of sentence containing words)

In [335]:
tf=pd.DataFrame({0:np.zeros(len(index))})
for i in range(len(s1)-1):
    temp=pd.DataFrame({i:np.zeros(len(index))})
    tf=pd.concat([tf,temp],axis=1)
tf

     0    0    1
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0

In [285]:
a=s1[0].split()
a

['good', 'boy']

In [286]:
a.count('good')

1

In [287]:
tf

      sent1  sent2  sent3
girl    0.0    0.0    0.0
boy     0.0    0.0    0.0
good    0.0    0.0    0.0

In [288]:
for i in range(len(s1)):
    sent=s1[i].split()
    current=tf.columns[i]
    for j in range(len(sent)):
        count=sent.count(sent[j])
        if sent[j] in index:
            tf.loc[sent[j],current]=count/len(sent)

In [289]:
tf

      sent1  sent2     sent3
girl    0.0    0.5  0.333333
boy     0.5    0.0  0.333333
good    0.5    0.5  0.333333

In [290]:
index=tf.index
index

Index(['girl', 'boy', 'good'], dtype='object')

In [298]:
l=[0,0,0]
for i in range(len(index)):
    c=0
    for j in range(len(s1)):
        if index[i] in s1[j].split():
            c+=1
    l[i]=c

In [299]:
l=np.array(l).reshape(-1,1)
l

array([[2],
       [2],
       [3]])

In [300]:
l=np.log(3/l)

In [301]:
l

array([[0.40546511],
       [0.40546511],
       [0.        ]])

In [302]:
tf=tf*l

In [303]:
tf

         sent1     sent2     sent3
girl  0.000000  0.202733  0.135155
boy   0.202733  0.000000  0.135155
good  0.000000  0.000000  0.000000

In [304]:
s1

0         good boy
1        good girl
2    boy girl good
dtype: object

In [308]:
paragraph="""I have three visions for India. In 3000 years of our history, people from all over 
               the world have come and invaded us, captured our lands, conquered our minds. 
               From Alexander onwards, the Greeks, the Turks, the Moguls, the Portuguese, the British,
               the French, the Dutch, all of them came and looted us, took over what was ours. 
               Yet we have not done this to any other nation. We have not conquered anyone. 
               We have not grabbed their land, their culture, 
               their history and tried to enforce our way of life on them. 
               Why? Because we respect the freedom of others.That is why my 
               first vision is that of freedom. I believe that India got its first vision of 
               this in 1857, when we started the War of Independence. It is this freedom that
               we must protect and nurture and build on. If we are not free, no one will respect us.
               My second vision for India’s development. For fifty years we have been a developing nation.
               It is time we see ourselves as a developed nation. We are among the top 5 nations of the world
               in terms of GDP. We have a 10 percent growth rate in most areas. Our poverty levels are falling.
               Our achievements are being globally recognised today. Yet we lack the self-confidence to
               see ourselves as a developed nation, self-reliant and self-assured. Isn’t this incorrect?
               I have a third vision. India must stand up to the world. Because I believe that unless India 
               stands up to the world, no one will respect us. Only strength respects strength. We must be 
               strong not only as a military power but also as an economic power. Both must go hand-in-hand. 
               My good fortune was to have worked with three great minds. Dr. Vikram Sarabhai of the Dept. of 
               space, Professor Satish Dhawan, who succeeded him and Dr. Brahm Prakash, father of nuclear material.
               I was lucky to have worked with all three of them closely and consider this the great opportunity of my life. 
               I see four milestones in my career"""

In [309]:
sentence=nltk.sent_tokenize(paragraph)

In [322]:
len(sentence)

31

In [325]:
pd.Series(data)

0                                    three vision india
1     year history people world come invaded u captu...
2     alexander onwards greek turk mogul portuguese ...
3                                       yet done nation
4                                      conquered anyone
5     grabbed land culture history tried enforce way...
6
7           respect freedom others first vision freedom
8     believe india got first vision started war ind...
9                    freedom must protect nurture build
10                                   free one respect u
11                      second vision india development
12                         fifty year developing nation
13                            time see developed nation
14                      among top nation world term gdp
15                             percent growth rate area
16                                poverty level falling
17                achievement globally recognised today
18    yet lack self confidence see developed nation ...
19                                            incorrect
20                                         third vision
21                               india must stand world
22       believe unless india stand world one respect u
23                            strength respect strength
24       must strong military power also economic power
25                                    must go hand hand
26                 good fortune worked three great mind
27                              dr vikram sarabhai dept
28    space professor satish dhawan succeeded dr bra...
29    lucky worked three closely consider great oppo...
30                            see four milestone career
dtype: object

In [314]:
def convert(t_sentence):
    final=[]
    for i in range(len(t_sentence)):
        review=re.sub('[^a-zA-Z]',' ',t_sentence[i])
        review=review.lower()
        review=review.split()
        review=[lemitizer.lemmatize(word) for word in review
               if word not in set(stopwords.words('english'))]
        review=' '.join(review)
        final.append(review)
    return final

In [316]:
data=convert(sentence)
data

['three vision india',
 'year history people world come invaded u captured land conquered mind',
 'alexander onwards greek turk mogul portuguese british french dutch came looted u took',
 'yet done nation',
 'conquered anyone',
 'grabbed land culture history tried enforce way life',
 '',
 'respect freedom others first vision freedom',
 'believe india got first vision started war independence',
 'freedom must protect nurture build',
 'free one respect u',
 'second vision india development',
 'fifty year developing nation',
 'time see developed nation',
 'among top nation world term gdp',
 'percent growth rate area',
 'poverty level falling',
 'achievement globally recognised today',
 'yet lack self confidence see developed nation self reliant self assured',
 'incorrect',
 'third vision',
 'india must stand world',
 'believe unless india stand world one respect u',
 'strength respect strength',
 'must strong military power also economic power',
 'must go hand hand',
 'good fortune worked three great mind',
 'dr vikram sarabhai dept',
 'space professor satish dhawan succeeded dr brahm prakash father nuclear material',
 'lucky worked three closely consider great opportunity life',
 'see four milestone career']

In [318]:
from sklearn.feature_extraction.text import TfidfVectorizer
cv=TfidfVectorizer()
X=cv.fit_transform(data).toarray()

In [319]:
X

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.25883507, 0.30512561,
        0.        ],
       [0.        , 0.28867513, 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [357]:
s1=pd.Series(data)

In [358]:
temp=[]
for i in range(len(s1)):
    temp.extend(s1[i].split())
index=list(set(temp))
index

['india',
 'freedom',
 'closely',
 'top',
 'good',
 'term',
 'percent',
 'lack',
 'u',
 'vikram',
 'independence',
 'brahm',
 'came',
 'grabbed',
 'today',
 'gdp',
 'reliant',
 'succeeded',
 'portuguese',
 'great',
 'war',
 'dept',
 'fifty',
 'people',
 'mind',
 'three',
 'nation',
 'developing',
 'recognised',
 'second',
 'stand',
 'build',
 'tried',
 'turk',
 'come',
 'free',
 'fortune',
 'nuclear',
 'others',
 'worked',
 'consider',
 'one',
 'developed',
 'falling',
 'yet',
 'economic',
 'poverty',
 'professor',
 'first',
 'also',
 'see',
 'level',
 'four',
 'started',
 'dutch',
 'area',
 'nurture',
 'vision',
 'space',
 'conquered',
 'took',
 'culture',
 'respect',
 'french',
 'year',
 'must',
 'hand',
 'life',
 'captured',
 'onwards',
 'done',
 'dr',
 'father',
 'third',
 'british',
 'enforce',
 'invaded',
 'rate',
 'sarabhai',
 'power',
 'believe',
 'strong',
 'satish',
 'career',
 'alexander',
 'strength',
 'assured',
 'protect',
 'growth',
 'mogul',
 'development',
 'prakash',
 'unless',
 'self',
 'material',
 'opportunity',
 'got',
 'greek',
 'world',
 'lucky',
 'looted',
 'confidence',
 'incorrect',
 'globally',
 'time',
 'anyone',
 'way',
 'among',
 'military',
 'achievement',
 'milestone',
 'go',
 'land',
 'history',
 'dhawan']

In [359]:
tf=pd.DataFrame({0:np.zeros(len(index))})
for i in range(1,len(s1)):
    temp=pd.DataFrame({i:np.zeros(len(index))})
    tf=pd.concat([tf,temp],axis=1)
tf.index=index
tf

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
india,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
freedom,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
closely,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
top,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
good,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
milestone,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
go,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
land,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
history,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
dhawan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [360]:
for i in range(len(s1)):
    sent=s1[i].split()
    current=tf.columns[i]
    for j in range(len(sent)):
        count=sent.count(sent[j])
        if sent[j] in index:
            tf.loc[sent[j],current]=count/len(sent)

In [361]:
tf

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
india,0.333333,0.000000,0.0,0.0,0.0,0.000,0.0,0.000000,0.125,0.0,...,0.25,0.125,0.0,0.0,0.00,0.000000,0.0,0.000000,0.000,0.00
freedom,0.000000,0.000000,0.0,0.0,0.0,0.000,0.0,0.333333,0.000,0.2,...,0.00,0.000,0.0,0.0,0.00,0.000000,0.0,0.000000,0.000,0.00
closely,0.000000,0.000000,0.0,0.0,0.0,0.000,0.0,0.000000,0.000,0.0,...,0.00,0.000,0.0,0.0,0.00,0.000000,0.0,0.000000,0.125,0.00
top,0.000000,0.000000,0.0,0.0,0.0,0.000,0.0,0.000000,0.000,0.0,...,0.00,0.000,0.0,0.0,0.00,0.000000,0.0,0.000000,0.000,0.00
good,0.000000,0.000000,0.0,0.0,0.0,0.000,0.0,0.000000,0.000,0.0,...,0.00,0.000,0.0,0.0,0.00,0.166667,0.0,0.000000,0.000,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
milestone,0.000000,0.000000,0.0,0.0,0.0,0.000,0.0,0.000000,0.000,0.0,...,0.00,0.000,0.0,0.0,0.00,0.000000,0.0,0.000000,0.000,0.25
go,0.000000,0.000000,0.0,0.0,0.0,0.000,0.0,0.000000,0.000,0.0,...,0.00,0.000,0.0,0.0,0.25,0.000000,0.0,0.000000,0.000,0.00
land,0.000000,0.090909,0.0,0.0,0.0,0.125,0.0,0.000000,0.000,0.0,...,0.00,0.000,0.0,0.0,0.00,0.000000,0.0,0.000000,0.000,0.00
history,0.000000,0.090909,0.0,0.0,0.0,0.125,0.0,0.000000,0.000,0.0,...,0.00,0.000,0.0,0.0,0.00,0.000000,0.0,0.000000,0.000,0.00
dhawan,0.000000,0.000000,0.0,0.0,0.0,0.000,0.0,0.000000,0.000,0.0,...,0.00,0.000,0.0,0.0,0.00,0.000000,0.0,0.090909,0.000,0.00

In [362]:
l=np.zeros(len(index))
l=list(l)
for i in range(len(index)):
    c=0
    for j in range(len(s1)):
        if index[i] in s1[j].split():
            c+=1
    l[i]=c

In [363]:
l=np.array(l).reshape(-1,1)
l

array([[5],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [4],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [2],
       [3],
       [5],
       [1],
       [1],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1],
       [2],
       [1],
       [3],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [5],
       [1],
       [2],
       [1],
       [1],
       [4],
       [1],
       [2],
       [4],
       [1],
       [2],
       [1],
       [1],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [4],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [1]])

In [364]:
l=np.log(len(s1)/l)

In [365]:
l

array([[1.82454929],
       [2.74084002],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [2.04769284],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [2.74084002],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [2.74084002],
       [2.33537492],
       [1.82454929],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [2.74084002],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [2.74084002],
       [3.4339872 ],
       [2.74084002],
       [2.74084002],
       [3.4339872 ],
       [2.74084002],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [2.74084002],
       [3.4339872 ],
       [2.33537492],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [1.82454929],
       [3.4339872 ],
       [2.74084002],
       [3.4339872 ],
       [3.4339872 ],
       [2.04769284],
       [3.4339872 ],
       [2.74084002],
       [2.04769284],
       [3.4339872 ],
       [2.74084002],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [2.74084002],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [2.74084002],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [2.04769284],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [3.4339872 ],
       [2.74084002],
       [2.74084002],
       [3.4339872 ]])

In [366]:
tf=tf*l

In [367]:
tf

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
india,0.608183,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.228069,0.000000,...,0.456137,0.228069,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
freedom,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.913613,0.000000,0.548168,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
closely,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.429248,0.000000
top,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
good,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.572331,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
milestone,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.858497
go,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.858497,0.000000,0.0,0.000000,0.000000,0.000000
land,0.000000,0.249167,0.0,0.0,0.0,0.342605,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
history,0.000000,0.249167,0.0,0.0,0.0,0.342605,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
dhawan,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.312181,0.000000,0.000000

In [374]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,...,104,105,106,107,108,109,110,111,112,113
0,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.548305,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.258835,0.305126,0.000000
2,0.0,0.288675,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.288675,...,0.288675,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.588643
4,0.0,0.000000,0.000000,0.00000,0.746061,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.367861,0.000000,0.000000,0.000000,0.000000
6,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.287960,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.347468,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.275939,0.389309,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.408896,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.491394,0.000000
13,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,0.0,0.000000,0.000000,0.44387,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.336062,0.000000,0.000000
15,0.0,0.000000,0.000000,0.00000,0.000000,0.5,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,0.5,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.251881,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.224810
19,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.578266,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.484156,0.000000,0.000000
22,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.397615,0.000000,0.000000,...,0.000000,0.445496,0.000000,0.000000,0.000000,0.000000,0.000000,0.337293,0.000000,0.000000
23,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,0.0,0.000000,0.341529,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.396929,0.000000,0.000000,0.000000
27,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.513219,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.304338,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
29,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.335999,0.000000,0.000000,0.000000
30,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [372]:
tf.T

,india,freedom,closely,top,good,term,percent,lack,u,vikram,...,anyone,way,among,military,achievement,milestone,go,land,history,dhawan
0,0.608183,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.186154,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.249167,0.249167,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.157515,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.716994,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.429248,0.000000,0.00000,0.000000,0.000000,0.000000,0.342605,0.342605,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.913613,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.228069,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.548168,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.511923,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.456137,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,0.000000,0.000000,0.000000,0.572331,0.000000,0.572331,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.572331,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.858497,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.858497,0.000000,0.000000,0.000000,0.000000,0.000000
18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.312181,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,0.456137,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,0.228069,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.255962,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.49057,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.858497,0.000000,0.000000,0.000000
26,0.000000,0.000000,0.000000,0.000000,0.572331,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
27,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.858497,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.312181
29,0.000000,0.000000,0.429248,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.858497,0.000000,0.000000,0.000000,0.000000