In [1]:
import numpy as np
import pandas as pd

In [38]:
s1,s2,s3='good boy','good girl','boy girl good'

In [39]:
temp=[]
temp.extend(s1.split())
temp.extend(s2.split())
temp.extend(s3.split())

TF=no of rep of words in sentence/
no of words in sentence

IDF=log(no of sentences/no of sentence containing words)

In [36]:
df=pd.DataFrame({'sent1':[0,0,0],
                'sent2':[0,0,0],
                'sent3':[0,0,0]},index=list(set(temp)))

In [40]:
df

      sent1  sent2  sent3
girl      0      0      0
boy       0      0      0
good      0      0      0