In [280]:
import numpy as np
import pandas as pd

In [281]:
s1=pd.Series(['good boy','good girl','boy girl good'])

In [282]:
s1

0         good boy
1        good girl
2    boy girl good
dtype: object

In [283]:
temp=[]
for i in range(len(s1)):
    temp.extend(s1[i].split())
index=list(set(temp))
index

['girl', 'boy', 'good']

TF=no of rep of words in sentence/
no of words in sentence

IDF=log(no of sentences/no of sentence containing words)

In [284]:
tf=pd.DataFrame({'sent1':np.zeros(len(index)),
                'sent2':np.zeros(len(index)),
                'sent3':np.zeros(len(index))},
                index=list(index))

In [285]:
a=s1[0].split()
a

['good', 'boy']

In [286]:
a.count('good')

1

In [287]:
tf

      sent1  sent2  sent3
girl    0.0    0.0    0.0
boy     0.0    0.0    0.0
good    0.0    0.0    0.0

In [288]:
for i in range(len(s1)):
    sent=s1[i].split()
    current=tf.columns[i]
    for j in range(len(sent)):
        count=sent.count(sent[j])
        if sent[j] in index:
            tf.loc[sent[j],current]=count/len(sent)

In [289]:
tf

      sent1  sent2     sent3
girl    0.0    0.5  0.333333
boy     0.5    0.0  0.333333
good    0.5    0.5  0.333333

In [290]:
index=tf.index
index

Index(['girl', 'boy', 'good'], dtype='object')

In [298]:
l=[0,0,0]
for i in range(len(index)):
    c=0
    for j in range(len(s1)):
        if index[i] in s1[j].split():
            c+=1
    l[i]=c

In [299]:
l=np.array(l).reshape(-1,1)
l

array([[2],
       [2],
       [3]])

In [300]:
l=np.log(3/l)

In [301]:
l

array([[0.40546511],
       [0.40546511],
       [0.        ]])

In [302]:
tf=tf*l

In [303]:
tf

         sent1     sent2     sent3
girl  0.000000  0.202733  0.135155
boy   0.202733  0.000000  0.135155
good  0.000000  0.000000  0.000000

In [304]:
s1

0         good boy
1        good girl
2    boy girl good
dtype: object