In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({'key':['A','B','C','B','A','C'],
                'values':[1,3,5,2,7,3]})
df

  key  values
0   A       1
1   B       3
2   C       5
3   B       2
4   A       7
5   C       3

In [3]:
df.sort_values('key')

  key  values
0   A       1
4   A       7
1   B       3
3   B       2
2   C       5
5   C       3

In [6]:
df.sort_values('values')

  key  values
0   A       1
3   B       2
1   B       3
5   C       3
2   C       5
4   A       7