In [31]:
import pandas as pd
import numpy as np
obj=pd.Series([5,5,6,7,43,3,5,6])
obj.values,obj.value_counts(),obj

(array([ 5,  5,  6,  7, 43,  3,  5,  6], dtype=int64),
 5     3
 6     2
 7     1
 3     1
 43    1
 dtype: int64,
 0     5
 1     5
 2     6
 3     7
 4    43
 5     3
 6     5
 7     6
 dtype: int64)

In [27]:
obj.keys()

RangeIndex(start=0, stop=8, step=1)

In [28]:
obj[5]

3

In [29]:
np.exp(obj)

0    1.484132e+02
1    1.484132e+02
2    4.034288e+02
3    1.096633e+03
4    4.727839e+18
5    2.008554e+01
6    1.484132e+02
7    4.034288e+02
dtype: float64

In [34]:
10 in obj

False

In [35]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [37]:
pd.Series(sdata)

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [39]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [43]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [50]:
obj4.reset_index()

        state        0
0  California      NaN
1        Ohio  35000.0
2      Oregon  16000.0
3       Texas  71000.0