In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl
import seaborn as sns
import plotly.express as px
import plotly.graph_objs as go
sns.set_style('whitegrid')
plt.style.use('fivethirtyeight')
%matplotlib inline
# from pandas_datareader.data import DataReader
from datetime import datetime

In [3]:
hist_quotes_df=pd.read_csv('HistoricalQuotes.csv')

In [4]:
hist_quotes_df.head()

         Date  Close/Last     Volume      Open      High       Low
0  02/28/2020     $273.36  106721200   $257.26   $278.41   $256.37
1  02/27/2020     $273.52   80151380    $281.1      $286   $272.96
2  02/26/2020     $292.65   49678430   $286.53   $297.88    $286.5
3  02/25/2020     $288.08   57668360   $300.95   $302.53   $286.13
4  02/24/2020     $298.18   55548830   $297.26   $304.18   $289.23

In [51]:
tech_list=['AAPL','GOOG','MSFT','AMZN']

end=datetime.now()

start=datetime(end.year-1,end.month,end.day)

for stock in tech_list:
    globals()[stock]=DataReader(stock,'yahoo',start,end)

In [52]:
start

datetime.datetime(2019, 11, 11, 0, 0)