In [20]:

import pandas as pd
import matplotlib.pyplot as pl
import seaborn as sns

In [2]:

train=pd.read_json('train-v2.0.json')

In [10]:
sample=train['data'][0]

In [23]:
train

    version                                               data
0      v2.0  {'title': 'Beyoncé', 'paragraphs': [{'qas': [{...
1      v2.0  {'title': 'Frédéric_Chopin', 'paragraphs': [{'...
2      v2.0  {'title': 'Sino-Tibetan_relations_during_the_M...
3      v2.0  {'title': 'IPod', 'paragraphs': [{'qas': [{'qu...
4      v2.0  {'title': 'The_Legend_of_Zelda:_Twilight_Princ...
..      ...                                                ...
437    v2.0  {'title': 'Infection', 'paragraphs': [{'qas': ...
438    v2.0  {'title': 'Hunting', 'paragraphs': [{'qas': [{...
439    v2.0  {'title': 'Kathmandu', 'paragraphs': [{'qas': ...
440    v2.0  {'title': 'Myocardial_infarction', 'paragraphs...
441    v2.0  {'title': 'Matter', 'paragraphs': [{'qas': [{'...

[442 rows x 2 columns]

In [46]:
questions=[]
answers=[]
impossible=[]
for sample in train['data']:
    for i in sample['paragraphs']:
        for j in i['qas']:
            questions.append(j['question'])
            answers.append(j['answers'])
            impossible.append(j['is_impossible'])

In [47]:
len(questions),len(answers)

(130319, 130319)

In [48]:
df=pd.DataFrame({'Questions':questions,
                'Answers':answers,
                'Is_impossible':impossible})

In [49]:
df.head()

,Questions,Answers,Is_impossible
0,When did Beyonce start becoming popular?,"[{'text': 'in the late 1990s', 'answer_start':...",False
1,What areas did Beyonce compete in when she was...,"[{'text': 'singing and dancing', 'answer_start...",False
2,When did Beyonce leave Destiny's Child and bec...,"[{'text': '2003', 'answer_start': 526}]",False
3,In what city and state did Beyonce grow up?,"[{'text': 'Houston, Texas', 'answer_start': 166}]",False
4,In which decade did Beyonce become famous?,"[{'text': 'late 1990s', 'answer_start': 276}]",False

In [50]:
df['Answers'][0][0]['text']

'in the late 1990s'