In [1]:
import pandas as pd
import numpy as np

In [16]:
a=pd.DataFrame(np.random.randint(1,100,(2,2)))
b=pd.DataFrame(np.random.randint(1,100,(3,3)))
c=a+b
c

       0      1   2
0  135.0    8.0 NaN
1  136.0  172.0 NaN
2    NaN    NaN NaN

In [15]:
fill=b.stack().mean()
a.add(b,fill_value=fill)

            0          1           2
0   64.000000  34.000000  133.555556
1  118.000000  24.000000  144.555556
2   83.555556  83.555556  136.555556