In [25]:
import numpy as np
import pandas as pd
from numpy import nan as na

In [14]:
a = pd.Series([np.nan, 2.5, np.nan, 3.5, 4.5, np.nan],
index=['f', 'e', 'd', 'c', 'b', 'a'])
b = pd.Series(np.arange(len(a), dtype=np.float64),
index=['f', 'e', 'd', 'c', 'b', 'a'])
a,b

(f    NaN
 e    2.5
 d    NaN
 c    3.5
 b    4.5
 a    NaN
 dtype: float64,
 f    0.0
 e    1.0
 d    2.0
 c    3.0
 b    4.0
 a    5.0
 dtype: float64)

In [20]:
b[[-1,-2,-3,-4,-5,-6]]

a    5.0
b    4.0
c    3.0
d    2.0
e    1.0
f    0.0
dtype: float64

In [26]:
b[-1]=na

In [30]:
b

f    0.0
e    1.0
d    2.0
c    3.0
b    4.0
a    NaN
dtype: float64

In [38]:
a[-1]=3
a

f    NaN
e    2.5
d    NaN
c    3.5
b    4.5
a    3.0
dtype: float64

In [32]:
np.where(pd.isnull(a))

(array([0, 2, 5], dtype=int64),)

In [40]:
np.where(pd.isna(a),b,a)
# This is showing any null element in particular array or not
# If data is available it is showing as per the indexes of each df's

array([0. , 2.5, 2. , 3.5, 4.5, 3. ])

In [41]:
b[:-2]

f    0.0
e    1.0
d    2.0
c    3.0
dtype: float64

In [55]:
b[:-2].combine_first(a[2:])

a    3.0
b    4.5
c    3.0
d    2.0
e    1.0
f    0.0
dtype: float64

In [53]:
a,b

(f    NaN
 e    2.5
 d    NaN
 c    3.5
 b    4.5
 a    3.0
 dtype: float64,
 f    0.0
 e    1.0
 d    2.0
 c    3.0
 b    4.0
 a    NaN
 dtype: float64)

In [67]:
df1 = pd.DataFrame({'a': [1., np.nan, 5., np.nan],
'b': [np.nan, 2., np.nan, 6.],
'c': range(2, 18, 4)})
df2 = pd.DataFrame({'a': [5., 4., np.nan, 3., 7.],
'b': [np.nan, 3., 4., 6., 8.]})
df1

     a    b   c
0  1.0  NaN   2
1  NaN  2.0   6
2  5.0  NaN  10
3  NaN  6.0  14

In [68]:
df2

     a    b
0  5.0  NaN
1  4.0  3.0
2  NaN  4.0
3  3.0  6.0
4  7.0  8.0

In [72]:
# This is placing df1 values as 1st priority. if any null values 
# encountered in df1 than its replaced by value of df2 on the same column
# and index where it gets matched
df1.combine_first(df2)

     a    b     c
0  1.0  NaN   2.0
1  4.0  2.0   6.0
2  5.0  4.0  10.0
3  3.0  6.0  14.0
4  7.0  8.0   NaN