In [16]:
import numpy as np
import pandas as pd
a=np.array([[np.nan,np.nan],[np.nan,np.nan],[np.nan,np.nan]])
df=pd.DataFrame(a)
df

    0   1
0 NaN NaN
1 NaN NaN
2 NaN NaN

In [22]:
df.fillna(1)

     0    1
0  1.0  1.0
1  1.0  1.0
2  1.0  1.0

In [39]:
# ,[np.nan,1,None,3,5]]
data=pd.Series([1,np.nan,2,None,3],index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [43]:
data.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

In [80]:
x=[1,2,3,4,5]
y=np.array([2,3,4,5,6])
z=np.add(x,y)
print(x,y)
z

[1, 2, 3, 4, 5] [2 3 4 5 6]

array([ 3,  5,  7,  9, 11])

In [82]:
np.subtract.outer(x,y)

array([[-1, -2, -3, -4, -5],
       [ 0, -1, -2, -3, -4],
       [ 1,  0, -1, -2, -3],
       [ 2,  1,  0, -1, -2],
       [ 3,  2,  1,  0, -1]])