In [3]:
import pandas as pd

In [4]:
data=pd.read_csv('C:/Users/rissu/Hotel_Reviews.csv')

In [5]:
data.shape

(515738, 17)

In [8]:
data.head(3)

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968

In [28]:
data_neg=data.iloc[:,6]
data_pos=data.iloc[:,9]
data_neg=pd.DataFrame({"Data":data_neg,
                       "Status":np.zeros(515738).astype(int)})
data_pos=pd.DataFrame({"Data":data_pos,
                       "Status":np.ones(515738).astype(int)})

In [39]:
df=pd.concat([data_pos,data_neg])

In [42]:
df.shape

(1031476, 2)