In [1]:
import pandas as pd

In [18]:
df=pd.DataFrame({'Col1':['a','b','c','d','e'],
                 'Col2':['w','x','y','z','v'],
                 'Col3':[1,2,3,4,5]})

In [5]:
df

  Col1 Col2  Col3
0    a    w     1
1    b    x     2
2    c    y     3
3    d    z     4
4    e    v     5

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Col1    5 non-null      object
 1   Col2    5 non-null      object
 2   Col3    5 non-null      int64
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

In [7]:
df.dtypes

Col1    object
Col2    object
Col3     int64
dtype: object

In [10]:
#Encoding

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
encoder=LabelEncoder()

In [13]:
df

  Col1 Col2  Col3
0    a    w     1
1    b    x     2
2    c    y     3
3    d    z     4
4    e    v     5

In [14]:
df['Col1']=encoder.fit_transform(df['Col1'])

In [17]:
df['Col2']=encoder.fit_transform(df['Col2'])
df

   Col1  Col2  Col3
0     0     1     1
1     1     2     2
2     2     3     3
3     3     4     4
4     4     0     5

In [20]:
df

  Col1 Col2  Col3
0    a    w     1
1    b    x     2
2    c    y     3
3    d    z     4
4    e    v     5

In [19]:
pd.get_dummies(df)

,Col3,Col1_a,Col1_b,Col1_c,Col1_d,Col1_e,Col2_v,Col2_w,Col2_x,Col2_y,Col2_z
0,1,1,0,0,0,0,0,1,0,0,0
1,2,0,1,0,0,0,0,0,1,0,0
2,3,0,0,1,0,0,0,0,0,1,0
3,4,0,0,0,1,0,0,0,0,0,1
4,5,0,0,0,0,1,1,0,0,0,0