In [1]:
import pandas as pd

In [2]:
a=pd.Series([1,2,3,4,5,78,324,754])
a

0      1
1      2
2      3
3      4
4      5
5     78
6    324
7    754
dtype: int64

In [14]:
a=pd.DataFrame({'a':[1,2,3,4,5],'b':[6,4,7,3,5],'c':[435,65,23,65,0]},index=['i','ii','iii','iv','v'])

In [15]:
a

     a  b    c
i    1  6  435
ii   2  4   65
iii  3  7   23
iv   4  3   65
v    5  5    0

In [18]:
a['c']

i      435
ii      65
iii     23
iv      65
v        0
Name: c, dtype: int64

In [21]:
a=pd.Series([1,2,3,4,5])
b=pd.Series([10,20,30,40,50])
pd.DataFrame({'a':a,'b':b})

   a   b
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

In [22]:
dictionary={1:[1,2,3,4,5],2:[54,765,34,765,32],3:[675,234,76,97,1]}

In [23]:
pd.DataFrame(dictionary)

   1    2    3
0  1   54  675
1  2  765  234
2  3   34   76
3  4  765   97
4  5   32    1