In [1]:
import pandas as pd

In [11]:
df=pd.DataFrame({'key':['A','A','B','C','B','A','C'],
                'values':[1,3,5,2,7,3,9]})
df

  key  values
0   A       1
1   A       3
2   B       5
3   C       2
4   B       7
5   A       3
6   C       9

In [3]:
df.sort_values('key')

  key  values
0   A       1
4   A       7
1   B       3
3   B       2
2   C       5
5   C       3

In [5]:
df.sort_values('values')

  key  values
0   A       1
3   B       2
1   B       3
5   C       3
2   C       5
4   A       7

In [6]:
df.groupby('key').sum()

     values
key
A         8
B         5
C         8

In [7]:
df.groupby('key').mean()

     values
key
A       4.0
B       2.5
C       4.0

In [8]:
df

  key  values
0   A       1
1   B       3
2   C       5
3   B       2
4   A       7
5   C       3

In [12]:
df.groupby('key').count()

     values
key
A         3
B         2
C         2

In [13]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
'data1': range(6),
'data2': rng.randint(0, 10, 6)},
columns = ['key', 'data1', 'data2'])
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [14]:
df.sort_values('key')

  key  data1  data2
0   A      0      5
3   A      3      3
1   B      1      0
4   B      4      7
2   C      2      3
5   C      5      9

In [15]:
df.groupby('key')['data1'].sum()

key
A    3
B    5
C    7
Name: data1, dtype: int64

In [16]:
df.groupby('key')['data2'].sum()

key
A     8
B     7
C    12
Name: data2, dtype: int32

In [17]:
df.groupby('key').aggregate(['min','max'])

    data1     data2
      min max   min max
key
A       0   3     3   5
B       1   4     0   7
C       2   5     3   9

In [18]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [19]:
def filtered(x):
    return x['data2'].mean()>4
df.groupby('key').filter(filtered)

  key  data1  data2
2   C      2      3
5   C      5      9

In [22]:
df.groupby('key').transform(lambda x : x)

   data1  data2
0      0      5
1      1      0
2      2      3
3      3      3
4      4      7
5      5      9