In [128]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl
from sklearn.impute import SimpleImputer 
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()

In [142]:
dataset=pd.read_csv('Data.csv')
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [143]:
X=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values

In [144]:
X,y

(array([['France', 44.0, 72000.0],
        ['Spain', 27.0, 48000.0],
        ['Germany', 30.0, 54000.0],
        ['Spain', 38.0, 61000.0],
        ['Germany', 40.0, nan],
        ['France', 35.0, 58000.0],
        ['Spain', nan, 52000.0],
        ['France', 48.0, 79000.0],
        ['Germany', 50.0, 83000.0],
        ['France', 37.0, 67000.0]], dtype=object),
 array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
       dtype=object))

In [145]:
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')

In [146]:
imputer.fit(X[:,1:3])

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='mean', verbose=0)

In [147]:
X[:,1:3]=imputer.transform(X[:,1:3])
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [148]:
a=X[:,0]
a=a.reshape(-1,1)
a

array([['France'],
       ['Spain'],
       ['Germany'],
       ['Spain'],
       ['Germany'],
       ['France'],
       ['Spain'],
       ['France'],
       ['Germany'],
       ['France']], dtype=object)

In [149]:
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([("Geography", OneHotEncoder(), [1])], remainder = 'passthrough')
ct=ColumnTransformer([('Country',OneHotEncoder(),[0])],remainder='passthrough')

In [175]:
X=ct.fit_transform(dataset)

In [176]:
y=label_encoder.fit_transform(y)

In [177]:
X[:,-1]=y

In [178]:
imputer.fit(X[:,2:])

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='mean', verbose=0)

In [179]:
X[:,2:]=imputer.fit_transform(X[:,2:])

In [180]:
a=np.array(X,dtype='int')

In [183]:
X=a.tolist()

In [184]:
X

[[1, 0, 0, 44, 72000, 0],
 [0, 0, 1, 27, 48000, 1],
 [0, 1, 0, 30, 54000, 0],
 [0, 0, 1, 38, 61000, 0],
 [0, 1, 0, 40, 63777, 1],
 [1, 0, 0, 35, 58000, 1],
 [0, 0, 1, 38, 52000, 0],
 [1, 0, 0, 48, 79000, 1],
 [0, 1, 0, 50, 83000, 0],
 [1, 0, 0, 37, 67000, 1]]