In [1]:
import re

In [8]:
text = "foo bar\t baz \tqux"
re.split('\s+',text),text.split('\t')

(['foo', 'bar', 'baz', 'qux'], ['foo bar', ' baz ', 'qux'])

In [9]:
regrex=re.compile('\s+')
regrex.split(text)

['foo', 'bar', 'baz', 'qux']

In [10]:
regrex.findall(text)

[' ', '\t ', ' \t']

In [14]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [35]:
regrex=re.compile(pattern,flags=re.IGNORECASE)
regrex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [30]:
m=regrex.search(text)
text[m.start():m.end()]

'dave@google.com'

In [28]:
print(regrex.sub('REDACTED',text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

In [37]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
regrex=re.compile(pattern,flags=re.IGNORECASE)

In [38]:
m=regrex.match('ryan@yahoo.com')
m.groups()

('ryan', 'yahoo', 'com')

In [39]:
regrex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [42]:
print(regrex.sub(r'Username:\1, Domain:\2, Suffix:\3',text))

Dave Username:dave, Domain:google, Suffix:com
Steve Username:steve, Domain:gmail, Suffix:com
Rob Username:rob, Domain:gmail, Suffix:com
Ryan Username:ryan, Domain:yahoo, Suffix:com

In [47]:
import numpy as np
from numpy import nan as NA
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': NA}
data

{'Dave': 'dave@google.com',
 'Steve': 'steve@gmail.com',
 'Rob': 'rob@gmail.com',
 'Wes': nan}

In [51]:
import pandas as pd
a=pd.DataFrame(data,index=[1,2,3,4])
a

              Dave            Steve            Rob  Wes
1  dave@google.com  steve@gmail.com  rob@gmail.com  NaN
2  dave@google.com  steve@gmail.com  rob@gmail.com  NaN
3  dave@google.com  steve@gmail.com  rob@gmail.com  NaN
4  dave@google.com  steve@gmail.com  rob@gmail.com  NaN

In [53]:
data=pd.Series(data)
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [54]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool