In [3]:
import numpy as np
import pandas as pd

In [16]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
        index=['Ohio', 'Colorado', 'New York'],
        columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [11]:
transform=lambda x: x[:4].upper()
transform

In [18]:
data.index=data.index.map(transform)
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

In [24]:
data.rename(index=str.title,columns=str.title)

      One  Two  Three  Four
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

In [30]:
data.rename(index={'OHIO':'INDIANA'},
           columns={'three':'peekaboo'},inplace=True)
data

         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

In [46]:
ages=np.random.randint(20,40,10)
ages

array([27, 29, 35, 39, 29, 22, 30, 21, 36, 21])

In [49]:
bins=[15,25,35,60,100]
cats=pd.cut(ages,bins)
cats

[(25, 35], (25, 35], (25, 35], (35, 60], (25, 35], (15, 25], (25, 35], (15, 25], (35, 60], (15, 25]]
Categories (4, interval[int64]): [(15, 25] < (25, 35] < (35, 60] < (60, 100]]

In [53]:
cats.codes

array([1, 1, 1, 2, 1, 0, 1, 0, 2, 0], dtype=int8)

In [67]:
a=[]
for i in range(10):
    temp="["+str(np.random.randint(1,30)),str(np.random.randint(1,30))+"]"
    a.append(temp)

AttributeError: 'numpy.ndarray' object has no attribute 'append'