In [18]:
import numpy as np
import pandas as pd
from numpy import nan as NA

In [19]:
a={"A":"Apple",
                "B":"Ball",
                "C":"Cat",
                "D":"Dog",
                "E":"Elephant",
                "F":"Fan",
                "G":"Glass"}

df=pd.DataFrame({'Letters':[chr(i) for i in range(65,72)],
                 'Words':['Ant','Butter','Chocolate','Donkey',NA,NA,NA]})

In [6]:
a

{'A': 'Apple',
 'B': 'Ball',
 'C': 'Cat',
 'D': 'Dog',
 'E': 'Elephant',
 'F': 'Fan',
 'G': 'Glass'}

In [21]:
mapping=df["Letters"]
df

  Letters      Words
0       A        Ant
1       B     Butter
2       C  Chocolate
3       D     Donkey
4       E        NaN
5       F        NaN
6       G        NaN

In [22]:
df['Mapped']=mapping.map(a)

In [23]:
df

  Letters      Words    Mapped
0       A        Ant     Apple
1       B     Butter      Ball
2       C  Chocolate       Cat
3       D     Donkey       Dog
4       E        NaN  Elephant
5       F        NaN       Fan
6       G        NaN     Glass