In [1]:
import numpy as np
import pandas as pd
from numpy import nan as NA

In [2]:
a={"A":"Apple",
                "B":"Ball",
                "C":"Cat",
                "D":"Dog",
                "E":"Elephant",
                "F":"Fan",
                "G":"Glass"}

df=pd.DataFrame({'Letters':[chr(i) for i in range(65,72)],
                 'Words':['Ant','Butter','Chocolate','Donkey',NA,NA,NA]})

In [3]:
a

{'A': 'Apple',
 'B': 'Ball',
 'C': 'Cat',
 'D': 'Dog',
 'E': 'Elephant',
 'F': 'Fan',
 'G': 'Glass'}

In [4]:
mapping=df["Letters"]
df

  Letters      Words
0       A        Ant
1       B     Butter
2       C  Chocolate
3       D     Donkey
4       E        NaN
5       F        NaN
6       G        NaN

In [5]:
df['Mapped']=mapping.map(a)

In [6]:
df

  Letters      Words    Mapped
0       A        Ant     Apple
1       B     Butter      Ball
2       C  Chocolate       Cat
3       D     Donkey       Dog
4       E        NaN  Elephant
5       F        NaN       Fan
6       G        NaN     Glass

In [7]:
ages=np.random.randint(15,60,20).astype(int)
bins=np.array([15,25,35,50,60]).astype(int)
level=["Teen","Adult","Middle Aged","Senior Citizen"]

In [8]:
print(ages)
pd.cut(ages,bins,labels=level)

[37 44 57 53 27 36 43 16 37 55 43 41 52 16 49 32 33 32 15 29]

[Middle Aged, Middle Aged, Senior Citizen, Senior Citizen, Adult, ..., Adult, Adult, Adult, NaN, Adult]
Length: 20
Categories (4, object): [Teen < Adult < Middle Aged < Senior Citizen]

In [9]:
data=np.random.rand(10)
data

array([0.27345837, 0.0332345 , 0.26669152, 0.42850943, 0.28098149,
       0.02518545, 0.92935772, 0.2667116 , 0.14828413, 0.30890203])

In [10]:
print(max(data),min(data))
pd.cut(data,4)

0.929357722007596 0.025185453658311374

[(0.251, 0.477], (0.0243, 0.251], (0.251, 0.477], (0.251, 0.477], (0.251, 0.477], (0.0243, 0.251], (0.703, 0.929], (0.251, 0.477], (0.0243, 0.251], (0.251, 0.477]]
Categories (4, interval[float64]): [(0.0243, 0.251] < (0.251, 0.477] < (0.477, 0.703] < (0.703, 0.929]]

In [11]:
print(pd.cut(data,4,precision=1))
print(pd.cut(data,4,precision=2))
print(pd.cut(data,4,precision=3))
print(pd.cut(data,4,precision=4))
# this precision is used to display number of decimal values

[(0.3, 0.5], (0.02, 0.3], (0.3, 0.5], (0.3, 0.5], (0.3, 0.5], (0.02, 0.3], (0.7, 0.9], (0.3, 0.5], (0.02, 0.3], (0.3, 0.5]]
Categories (4, interval[float64]): [(0.02, 0.3] < (0.3, 0.5] < (0.5, 0.7] < (0.7, 0.9]]
[(0.25, 0.48], (0.024, 0.25], (0.25, 0.48], (0.25, 0.48], (0.25, 0.48], (0.024, 0.25], (0.7, 0.93], (0.25, 0.48], (0.024, 0.25], (0.25, 0.48]]
Categories (4, interval[float64]): [(0.024, 0.25] < (0.25, 0.48] < (0.48, 0.7] < (0.7, 0.93]]
[(0.251, 0.477], (0.0243, 0.251], (0.251, 0.477], (0.251, 0.477], (0.251, 0.477], (0.0243, 0.251], (0.703, 0.929], (0.251, 0.477], (0.0243, 0.251], (0.251, 0.477]]
Categories (4, interval[float64]): [(0.0243, 0.251] < (0.251, 0.477] < (0.477, 0.703] < (0.703, 0.929]]
[(0.2512, 0.4773], (0.02428, 0.2512], (0.2512, 0.4773], (0.2512, 0.4773], (0.2512, 0.4773], (0.02428, 0.2512], (0.7033, 0.9294], (0.2512, 0.4773], (0.02428, 0.2512], (0.2512, 0.4773]]
Categories (4, interval[float64]): [(0.02428, 0.2512] < (0.2512, 0.4773] < (0.4773, 0.7033] < (0.7033, 0.9294]]

In [12]:
import matplotlib.pyplot as pl
data=np.random.randn(1000)
cats=pd.qcut(data,4)

In [13]:
cats

[(-0.0301, 0.687], (-0.668, -0.0301], (0.687, 2.988], (0.687, 2.988], (-3.154, -0.668], ..., (-0.668, -0.0301], (-0.0301, 0.687], (-0.0301, 0.687], (0.687, 2.988], (-0.0301, 0.687]]
Length: 1000
Categories (4, interval[float64]): [(-3.154, -0.668] < (-0.668, -0.0301] < (-0.0301, 0.687] < (0.687, 2.988]]

In [16]:
a=np.random.randn(1000)
np.mean(a).astype(int),np.var(a).astype(int)

(0, 1)

In [43]:
# Detecting and filtering outliers
data=pd.DataFrame(np.random.randn(1000,4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.037411    -0.016913     0.002710    -0.006417
std       1.008137     0.961000     0.991797     0.975478
min      -3.289733    -3.456349    -3.070027    -3.830081
25%      -0.609830    -0.681745    -0.622015    -0.676684
50%       0.032107    -0.013757     0.034504    -0.014884
75%       0.678358     0.632925     0.682695     0.627851
max       3.602789     2.750372     3.232659     3.128789

In [44]:
np.max(data,axis=0),np.max(data,axis=1)

(0    3.602789
 1    2.750372
 2    3.232659
 3    3.128789
 dtype: float64,
 0      0.749924
 1      1.229529
 2      0.892225
 3      0.578966
 4      0.888853
          ...
 995    1.216670
 996    1.623665
 997    0.324140
 998    1.236181
 999    1.056240
 Length: 1000, dtype: float64)

In [45]:
col=data[2]
col[np.abs(col)>3]

17    -3.070027
53     3.232659
407    3.097724
Name: 2, dtype: float64

In [40]:
data=abs(data)

In [41]:
data

            0         1         2         3
0    0.502976  0.447873  2.637323  1.303056
1    0.913410  0.266695  0.698569  0.331265
2    0.006905  0.089034  0.277215  0.362373
3    0.407617  2.007286  1.418892  0.345305
4    0.776953  1.495395  1.432541  1.237378
..        ...       ...       ...       ...
995  0.785169  1.025607  1.581160  0.194285
996  1.348868  0.897853  0.817913  1.118796
997  0.914496  0.712331  0.745088  0.440037
998  1.309153  0.208324  0.288199  0.212779
999  0.026674  0.461043  0.800554  1.587446

[1000 rows x 4 columns]

In [50]:
data[(np.abs(data)>3).any(1)]

            0         1         2         3
17   0.867851  1.957886 -3.070027 -0.382835
53   0.574206 -0.962024  3.232659 -0.464695
183 -3.094646  0.027839  0.262215  2.192740
308  1.694915 -3.456349 -0.730435  0.300581
313  0.502674  0.416194 -0.857990 -3.268819
407  1.807224 -1.860421  3.097724  0.624890
504 -0.378809  1.251652 -1.253668 -3.830081
591  3.602789 -0.036950  0.428979  0.571923
684 -3.289733 -0.011927  1.035863 -1.481042
740  0.978064 -3.418532  0.794934  1.044049
805  3.144983  0.971980 -0.236522  0.534188
922 -0.268463 -0.484007  0.125290  3.128789