In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
# import tensorflow as tf
sc=StandardScaler()

labelencoder_X_1=LabelEncoder()
labelencoder_X_2=LabelEncoder()

dataset=pd.read_csv('Churn_Modelling.csv')
X=dataset.iloc[:,3:13]
y=dataset.iloc[:,13]

In [2]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [3]:
ct = ColumnTransformer([("Geography",OneHotEncoder(), [1])], remainder = 'passthrough')
X = ct.fit_transform(X)

# Male/Female
labelencoder_X = LabelEncoder()
X[:, 4] = labelencoder_X.fit_transform(X[:, 4])

In [4]:
X=X[:,1:]

In [5]:
X=pd.DataFrame(X)

In [6]:
X.head(20)

    0  1    2  3   4   5        6  7  8  9       10
0   0  0  619  0  42   2        0  1  1  1   101349
1   0  1  608  0  41   1  83807.9  1  0  1   112543
2   0  0  502  0  42   8   159661  3  1  0   113932
3   0  0  699  0  39   1        0  2  0  0  93826.6
4   0  1  850  0  43   2   125511  1  1  1  79084.1
5   0  1  645  1  44   8   113756  2  1  0   149757
6   0  0  822  1  50   7        0  2  1  1  10062.8
7   1  0  376  0  29   4   115047  4  1  0   119347
8   0  0  501  1  44   4   142051  2  0  1  74940.5
9   0  0  684  1  27   2   134604  1  1  1  71725.7
10  0  0  528  1  31   6   102017  2  0  0  80181.1
11  0  1  497  1  24   3        0  2  1  0    76390
12  0  0  476  0  34  10        0  2  1  0    26261
13  0  0  549  0  25   5        0  2  0  0   190858
14  0  1  635  0  35   7        0  2  1  1  65951.6
15  1  0  616  1  45   3   143129  2  0  1  64327.3
16  1  0  653  1  58   1   132603  1  1  0  5097.67
17  0  1  549  0  24   9        0  2  1  1  14406.4
18  0  1  587  1  45   6        0  1  0  0   158685
19  0  0  726  0  24   6        0  2  1  1    54724

In [7]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [8]:
# X_train=sc.fit_transform(X_train)

In [9]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [10]:
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [11]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [12]:
classifier=Sequential()
classifier.add(Dense(output_dim=6,kernel_initializer='uniform',
                     activation='relu',
                    input_dim=11))

C:\Users\rissu\anaconda3\envs\gputest\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(kernel_initializer="uniform", activation="relu", input_dim=11, units=6)`
  after removing the cwd from sys.path.

In [13]:
classifier.add(Dense(output_dim=6,kernel_initializer='uniform',
                     activation='relu'
                     ))

C:\Users\rissu\anaconda3\envs\gputest\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(kernel_initializer="uniform", activation="relu", units=6)`

In [14]:
classifier.add(Dense(output_dim=1,kernel_initializer='uniform',
                     activation='sigmoid',
                    ))

C:\Users\rissu\anaconda3\envs\gputest\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(kernel_initializer="uniform", activation="sigmoid", units=1)`

In [15]:
# if output is binary than we can use binary_crossentropy
# if more than two values in output, we use categorical
classifier.compile(optimizer='adam',
                   loss='binary_crossentropy',
                   metrics=['accuracy'])

In [18]:
classifier.fit(X_train,y_train,batch_size=10,epochs=100)

Epoch 1/100

InternalError:  Blas GEMM launch failed : a.shape=(10, 11), b.shape=(11, 6), m=10, n=6, k=11
	 [[node dense_1/MatMul (defined at C:\Users\rissu\anaconda3\envs\gputest\lib\site-packages\keras\backend\tensorflow_backend.py:3009) ]] [Op:__inference_keras_scratch_graph_962]

Function call stack:
keras_scratch_graph

In [ ]:
y_pred=classifier.predict(X_test)
y_pred=y_pred>0.5

In [ ]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

In [ ]:
cm

In [ ]:
(1549+136)/2000

In [ ]:
dataset

In [ ]:
a=sc.transform(np.array([[0,0,600,1,40,3,60000,2,1,1,50000]]))
predicted=classifier.predict(a)
predicted>0.5

In [ ]:
confusion_matrix(y_test,y_pred)

In [ ]:
(1549+136)/2000

In [ ]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score

In [ ]:
# def build_classifier():
#     classifier=Sequential()
#     classifier.add(Dense(output_dim=6,kernel_initializer='uniform',
#                          activation='relu',
#                         input_dim=11))
#     classifier.add(Dense(output_dim=6,kernel_initializer='uniform',
#                          activation='relu'
#                          ))
#     classifier.add(Dense(output_dim=1,kernel_initializer='uniform',
#                          activation='sigmoid',
#                         ))
#     classifier.compile(optimizer='adam',
#                        loss='binary_crossentropy',
#                        metrics=['accuracy'])
#     return classifier
# classifier=KerasClassifier(build_fn=build_classifier,batch_size=10,epochs=100)
# accuracies=cross_val_score(estimator=classifier,X=X_train,
#                           y=y_train,cv=10,n_jobs=5)

In [ ]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
import sys

In [ ]:
def build():
    classifier=Sequential()
    classifier.add(Dense(output_dim=6,kernel_initializer ='uniform',
                        activation='relu',
                        input_dim=11))
    classifier.add(Dense(output_dim=6, kernel_initializer ='uniform',
                        activation='relu'))
    classifier.add(Dense(output_dim=1,kernel_initializer ='uniform',
                        activation='sigmoid'))
    classifier.compile(optimizer='adam',
                       loss='binary_crossentropy',
                      metrics=['accuracy'])
    return classifier
classifier=KerasClassifier(build_fn=build,
                          batch_size=10,
                          epochs=100)
accuracies=cross_val_score(estimator=classifier,
                          X=X_train,y=y_train,
                          cv=10)
accuracies

In [ ]:
mean=accuracies.mean()
variance=accuracies.std()

In [ ]:
mean,variance

## Hyperparameter tuning is one of method of selecting
best parameters for your model with combination of 
different other models

In [ ]:
# from sklearn.model_selection import GridSearchCV
# def build_classifier(optimizer):
#     classifier=Sequential()
#     classifier.add(Dense(output_dim=6,
#                          kernel_initializer='uniform',
#                         activation='relu',input_dim=11))
#     classifier.add(Dense(output_dim=6,
#                         kernel_initializer='uniform',
#                         activation='relu'))
#     classifier.add(Dense(output_dim=1,
#                         kernel_initializer='uniform',
#                         activation='sigmoid'))
#     classifier.compile(optimizer=optimizer,
#                       loss='binary_crossentropy',
#                       metrics=['accuracy'])
#     return classifier
# classifier=KerasClassifier(build_fn=build_classifier)
# parameters={'batch_size':[25,32],
#             'epochs':[100,500],
#             'optimizer':['adam','rmsprop']}
# grid_search=GridSearchCV(estimator=classifier,
#                         param_grid=parameters,
#                         cv=10)
# grid_search=grid_search.fit(X_train,y_train)
# best_param=grid_search.best_params_
# best_acc=grid_search.best_score_