In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.DataFrame({'Male':[8,31,52,9],
                   'Female':[3,13,17,22]},
                  index=['managerial','professional','technical','clerical'])
data

              Male  Female
managerial       8       3
professional    31      13
technical       52      17
clerical         9      22

In [3]:
np.sum(data,axis=0)

Male      100
Female     55
dtype: int64

In [4]:
np.sum(data,axis=1)

managerial      11
professional    44
technical       69
clerical        31
dtype: int64