In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.DataFrame(np.random.randint(1,10,(8,4)),columns={'a','b','c','d'})

In [3]:
df

   b  c  a  d
0  1  9  9  4
1  2  1  1  6
2  4  2  5  1
3  8  6  4  6
4  3  4  8  4
5  6  7  7  9
6  9  8  4  4
7  5  7  2  2

In [4]:
df.iloc[:,[1,3]]

   c  d
0  9  4
1  1  6
2  2  1
3  6  6
4  4  4
5  7  9
6  8  4
7  7  2