In [133]:
import numpy as np
import pandas as pd

In [134]:
temp=[str(np.random.randint(1,30))+'/'+str(np.random.randint(1,13))+'/'+str(np.random.randint(2015,2017)) for i in range(2000)]

In [135]:
df=pd.DataFrame(temp,columns=['Month'])

In [136]:
df=df.drop_duplicates()

In [137]:
df.head()

        Month
0  13/12/2015
1   28/8/2015
2   28/2/2016
3   15/2/2016
4  11/10/2015

In [138]:
def financialYear(date):
    temp=date.split('/')[2]
    
    return temp+'/'+str(int(temp)+1)[2:]

financialYear('3/3/2017')

'2017/18'

In [139]:
df['FinancialYear']=df['Month'].apply(lambda x: financialYear(x))

In [140]:
df.head()

        Month FinancialYear
0  13/12/2015       2015/16
1   28/8/2015       2015/16
2   28/2/2016       2016/17
3   15/2/2016       2016/17
4  11/10/2015       2015/16

In [141]:
df.shape

(658, 2)