In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.DataFrame({'Male':[8,31,52,9],
                   'Female':[3,13,17,22]},
                  index=['managerial','professional','technical','clerical'])
data

              Male  Female
managerial       8       3
professional    31      13
technical       52      17
clerical         9      22

In [11]:
np.sum(data,axis=0)/155

Male      0.645161
Female    0.354839
dtype: float64

In [12]:
np.sum(data,axis=1)/155

managerial      0.070968
professional    0.283871
technical       0.445161
clerical        0.200000
dtype: float64

In [13]:
data=pd.DataFrame({'Northeast':[24,30,28],
                   'Southeast':[10,6,18],
                   'Midwest':[8,22,12],
                   'West':[14,12,16]},
                 index=['fin','man','comm'])

In [14]:
data

      Northeast  Southeast  Midwest  West
fin          24         10        8    14
man          30          6       22    12
comm         28         18       12    16

In [21]:
np.sum(data,axis=0)/sum(np.sum(data,axis=0))

Northeast    0.41
Southeast    0.17
Midwest      0.21
West         0.21
dtype: float64

In [23]:
np.sum(data,axis=1)/sum(np.sum(data,axis=1))

fin     0.28
man     0.35
comm    0.37
dtype: float64

In [24]:
0.41+0.37-28/200

0.64

# P(A|B)=P(A and B)/P(B

In [25]:
data=pd.DataFrame({'CD':[0.2,0.2,0.4],
                   'No CD':[0.5,0.1,0.6],
                   'Total':[0.7,0.3,1.0]},
                 index=['AC','No AC','Total'])
data

        CD  No CD  Total
AC     0.2    0.5    0.7
No AC  0.2    0.1    0.3
Total  0.4    0.6    1.0

P(CD|AC)??

P(CD and AC)/P(AC)

In [26]:
0.2/0.7

0.28571428571428575