In [1]:
import numpy as np
import pandas as pd

In [21]:
df=pd.DataFrame(np.random.randint(1,4,(8,4)),columns={'a','b','c','d'})

In [22]:
df

   b  c  a  d
0  2  1  2  1
1  1  1  3  1
2  3  2  3  2
3  3  2  3  3
4  3  1  3  3
5  3  1  1  2
6  2  3  1  2
7  3  3  3  1

In [23]:
df.iloc[:,[1,3]]

   c  d
0  1  1
1  1  1
2  2  2
3  2  3
4  1  3
5  1  2
6  3  2
7  3  1

In [24]:
df.loc[:,['a','d']]

   a  d
0  2  1
1  3  1
2  3  2
3  3  3
4  3  3
5  1  2
6  1  2
7  3  1

In [25]:
df.iloc[[0,1,4,7],[1,3]]

   c  d
0  1  1
1  1  1
4  1  3
7  3  1

In [26]:
df

   b  c  a  d
0  2  1  2  1
1  1  1  3  1
2  3  2  3  2
3  3  2  3  3
4  3  1  3  3
5  3  1  1  2
6  2  3  1  2
7  3  3  3  1

In [38]:
df.groupby(['a','b'])['c'].nunique()

a  b
1  2    1
   3    1
2  2    1
3  1    1
   3    3
Name: c, dtype: int64