In [2]:
import numpy as np
import pandas as pd
pd.set_option("display.precision",2)
pd.set_option("display.max_column",6)

In [3]:
df = pd.read_csv("telecom_churn.csv")
df.head()

,State,Account length,Area code,...,Total intl charge,Customer service calls,Churn
0,KS,128,415,...,2.70,1,False
1,OH,107,415,...,3.70,1,False
2,NJ,137,415,...,3.29,0,False
3,OH,84,408,...,1.78,2,False
4,OK,75,415,...,2.73,3,False