In [1]:
import numpy as np
a=np.random.randn(100,100)
%timeit np.dot(a,a)

18.2 µs ± 434 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [2]:
a="my name is rishav paudel"
b=a.replace('m','c')
b

'cy nace is rishav paudel'

In [4]:
import pandas as pd
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
    index=['Ohio', 'Colorado', 'New York'],
    columns=['one', 'two', 'three', 'four'])

In [7]:
data.replace(0,2,inplace=True)

In [9]:
data

          one  two  three  four
Ohio        2    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [18]:
transform=lambda x: x.upper()

In [15]:
data.index=data.index.map(transform)

In [17]:
data

      one  two  three  four
OHIO    2    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

In [19]:
data.columns=data.columns.map(transform)

In [21]:
data

      ONE  TWO  THREE  FOUR
OHIO    2    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

In [22]:
tf=lambda x: chr(x)

In [38]:
data.rename(index=str.title,columns=str.title)

      One  Two  Three  Four
Ohio    2    1      2     3
Colo    4    5      6     7
New     8    9     10    11

In [39]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18, 25, 35, 60, 100]

In [41]:
binn=pd.cut(ages,bins)
binn

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [43]:
binn.describe()

            counts     freqs
categories
(18, 25]         5  0.416667
(25, 35]         3  0.250000
(35, 60]         3  0.250000
(60, 100]        1  0.083333

In [45]:
binn.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [48]:
binn.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')

In [49]:
groupnames=['youth','adult','midage','senior']

In [51]:
pd.cut(ages,bins,labels=groupnames)

[youth, youth, youth, adult, youth, ..., adult, senior, midage, midage, adult]
Length: 12
Categories (4, object): [youth < adult < midage < senior]

In [80]:
data=pd.DataFrame(np.random.randn(1000,4))
data

            0         1         2         3
0   -0.318957  0.550142 -0.798641 -0.357020
1    0.796552 -0.649680 -0.437065  0.430261
2   -1.227396 -1.202860 -1.518910  0.593612
3   -1.645991  1.213543 -0.643925  1.263854
4   -1.048268  1.956575 -0.675419 -0.870282
..        ...       ...       ...       ...
995 -1.866764 -0.522276  2.141548  0.451804
996 -0.226409  0.149276 -0.773092  0.154268
997  1.739633 -0.001984  0.037635  1.062805
998  0.053035 -0.574501  0.095638 -1.545018
999  1.066031  0.409298  2.497718 -0.611378

[1000 rows x 4 columns]

In [81]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.020956     0.044117    -0.025754     0.011811
std       0.993485     0.996063     0.985263     0.924975
min      -2.919977    -3.507021    -3.554949    -3.518276
25%      -0.646417    -0.621039    -0.663512    -0.612020
50%       0.016883     0.045436    -0.021183     0.027553
75%       0.713426     0.692917     0.649850     0.639095
max       3.598853     3.713755     2.807226     3.799948

In [96]:
data[(np.abs(data)>3)]=np.sign(data)*3

In [98]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.019822     0.044276    -0.024659     0.011543
std       0.989772     0.988801     0.981641     0.920151
min      -2.919977    -3.000000    -3.000000    -3.000000
25%      -0.646417    -0.621039    -0.663512    -0.612020
50%       0.016883     0.045436    -0.021183     0.027553
75%       0.713426     0.692917     0.649850     0.639095
max       3.000000     3.000000     2.807226     3.000000

In [103]:
data = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
sampler=np.random.permutation(5)

In [130]:
sampler=np.random.permutation(5)
data.sample(n=3)

    0   1   2   3
3  12  13  14  15
4  16  17  18  19
2   8   9  10  11

In [146]:
choices=pd.Series([5,7,-1,6,4])
draws=choices.sample(n=10,replace=True)
draws

3    6
3    6
1    7
2   -1
3    6
0    5
0    5
4    4
4    4
1    7
dtype: int64

In [151]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
    'data1': range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [157]:
pd.concat([pd.get_dummies(df['key']),df['data1']],axis=1)

   a  b  c  data1
0  0  1  0      0
1  0  1  0      1
2  1  0  0      2
3  0  0  1      3
4  1  0  0      4
5  0  1  0      5

In [159]:
dummies = pd.get_dummies(df['key'], prefix='key')
df_with_dummy=df[['data1']].join(dummies)

In [160]:
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [165]:
dummies.columns.get_indexer

In [170]:
values=np.random.rand(10)
values

array([0.75144123, 0.71472468, 0.74613218, 0.84616749, 0.35012325,
       0.11762224, 0.63122879, 0.63704834, 0.92381314, 0.08739185])

In [171]:
bins=[0,0.2,0.4,0.6,0.8,1]

In [175]:
a=pd.get_dummies(pd.cut(values,bins))

In [178]:
a.index=values

In [179]:
a

          (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0.751441           0           0           0           1           0
0.714725           0           0           0           1           0
0.746132           0           0           0           1           0
0.846167           0           0           0           0           1
0.350123           0           1           0           0           0
0.117622           1           0           0           0           0
0.631229           0           0           0           1           0
0.637048           0           0           0           1           0
0.923813           0           0           0           0           1
0.087392           1           0           0           0           0