In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as pl

In [3]:
letters = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')
company_symbol = [''.join(np.random.choice(letters,5)) for i in range(20)]

In [23]:
df = pd.DataFrame({
    'contract no':np.random.randint(111111,999999,(10000)),
    'stock_symbol':np.random.choice(company_symbol,10000),
    'buyer_broker':np.random.randint(1,20,10000),
    'seller_broker':np.random.randint(1,20,10000),
    'quantity':np.random.randint(50,1000,10000),
    'rate':np.random.randint(100,10000,10000)
}).reset_index().rename(columns={'index':'sn'})

In [24]:
df["amount"] = df["quantity"]* df["rate"]

In [25]:
df.head()

,sn,contract no,stock_symbol,buyer_broker,seller_broker,quantity,rate,amount
0,0,691815,MJSIE,10,17,537,8171,4387827
1,1,232947,CEWIS,11,15,585,495,289575
2,2,700661,IQOQW,9,6,773,8904,6882792
3,3,960523,BIYTI,7,2,239,1158,276762
4,4,953959,PFLVV,8,6,615,2799,1721385

# Top buyer broker

In [38]:
df.groupby(["buyer_broker"])["amount"].sum().sort_values(ascending= False)

buyer_broker
14    1575239484
8     1506913266
18    1493453001
7     1463673175
9     1441240024
11    1438461608
5     1435392453
2     1432971585
4     1418554592
17    1408736550
3     1404668328
10    1401080956
1     1393779227
13    1381522602
19    1371596247
6     1340890541
15    1306096669
12    1280881182
16    1271034618
Name: amount, dtype: int32

# top seller broker

In [41]:
df.groupby(["seller_broker"])["amount"].sum().sort_values(ascending= False)

seller_broker
5     1595696007
17    1521694833
14    1494832452
10    1481378456
6     1477542383
8     1472234629
19    1449933230
7     1448524822
2     1421719698
18    1410220526
1     1387295501
13    1361822702
3     1350802926
4     1350593629
16    1341819119
9     1331315384
11    1330334051
15    1312855577
12    1225570183
Name: amount, dtype: int32