In [1]:
import pandas as pd

In [3]:
df1=pd.read_csv('/Users/rissu/Dataset_csvs/questions.csv')
df2=pd.read_csv('/Users/rissu/Dataset_csvs/question_tags.csv')

In [4]:
df1.head()

,Id,CreationDate,ClosedDate,DeletionDate,Score,OwnerUserId,AnswerCount
0,1,2008-07-31T21:26:37Z,NaN,2011-03-28T00:53:47Z,1,NaN,0.0
1,4,2008-07-31T21:42:52Z,NaN,NaN,458,8.0,13.0
2,6,2008-07-31T22:08:08Z,NaN,NaN,207,9.0,5.0
3,8,2008-07-31T23:33:19Z,2013-06-03T04:00:25Z,2015-02-11T08:26:40Z,42,NaN,8.0
4,9,2008-07-31T23:40:59Z,NaN,NaN,1410,1.0,58.0

In [5]:
df2.head()

   Id              Tag
0   1             data
1   4               c#
2   4         winforms
3   4  type-conversion
4   4          decimal

In [7]:
df1.shape

(17203824, 7)

In [8]:
df2.shape

(50576842, 2)

In [9]:
df1['Id'].nunique(),df2['Id'].nunique()

(17203824, 17203824)

In [10]:
df3=df1.copy()

In [11]:
df3=df3.merge(df2,left_on='Id',right_on='Id')

In [18]:
df3.head(10)

,Id,CreationDate,ClosedDate,DeletionDate,Score,OwnerUserId,AnswerCount,Tag
0,1,2008-07-31T21:26:37Z,NaN,2011-03-28T00:53:47Z,1,NaN,0.0,data
1,4,2008-07-31T21:42:52Z,NaN,NaN,458,8.0,13.0,c#
2,4,2008-07-31T21:42:52Z,NaN,NaN,458,8.0,13.0,winforms
3,4,2008-07-31T21:42:52Z,NaN,NaN,458,8.0,13.0,type-conversion
4,4,2008-07-31T21:42:52Z,NaN,NaN,458,8.0,13.0,decimal
5,4,2008-07-31T21:42:52Z,NaN,NaN,458,8.0,13.0,opacity
6,6,2008-07-31T22:08:08Z,NaN,NaN,207,9.0,5.0,html
7,6,2008-07-31T22:08:08Z,NaN,NaN,207,9.0,5.0,css
8,6,2008-07-31T22:08:08Z,NaN,NaN,207,9.0,5.0,css3
9,6,2008-07-31T22:08:08Z,NaN,NaN,207,9.0,5.0,internet-explorer-7