In [146]:
import numpy as np
import pandas as pd

In [161]:
df=pd.DataFrame({'Onion':np.random.randint(0,2,10),
                 'Potato':np.random.randint(0,2,10),
                 'Burger':np.random.randint(0,2,10),
                 'Milk':np.random.randint(0,2,10),
                 'Beer':np.random.randint(0,2,10)},index=['t1','t2','t3','t4','t5','t6','t7','t8','t9','t10'])

In [162]:
df

     Onion  Potato  Burger  Milk  Beer
t1       1       1       1     0     0
t2       1       1       0     1     0
t3       0       0       0     1     0
t4       0       1       0     0     0
t5       1       0       0     0     1
t6       1       1       1     1     0
t7       1       1       0     0     0
t8       1       0       1     1     1
t9       0       1       1     0     1
t10      1       0       0     1     0

In [163]:
def thresoldcheck(df):
    dff=df.copy()
    cols=dff.columns
    n=len(dff)//2
    for i in range(len(cols)):
        if sum(dff[cols[i]])<n:
            dff.drop(cols[i],axis=1,inplace=True)
    return dff
    
    
df1=thresoldcheck(df)

In [164]:
df1

     Onion  Potato  Milk
t1       1       1     0
t2       1       1     1
t3       0       0     1
t4       0       1     0
t5       1       0     0
t6       1       1     1
t7       1       1     0
t8       1       0     1
t9       0       1     0
t10      1       0     1

In [159]:
df.groupby('Onion')['Potato'].sum()[1]

2

In [178]:
def thresold2(dff):
    list=[]
    cols=dff.columns
    n=len(dff)//2-3
    for i in range(len(cols)):
        for j in range(i+1,len(cols)):
            summ=dff.groupby(cols[i])[cols[j]].sum()[1]
            if summ>=n:
                list.append((cols[i],cols[j],summ))
    
    return list
lists=thresold2(df)
lists

[('Onion', 'Potato', 4),
 ('Onion', 'Burger', 3),
 ('Onion', 'Milk', 4),
 ('Onion', 'Beer', 2),
 ('Potato', 'Burger', 3),
 ('Potato', 'Milk', 2),
 ('Burger', 'Milk', 2),
 ('Burger', 'Beer', 2)]

In [180]:
def threshold3(lists,dff):
    list=[]
    temp=dff.copy()
    cols=dff.columns
    n=len(dff)//2-3
    for i in range(len(lists)):
        a,b=lists[i][0],lists[i][1]
        for j in range(i+1,len(lists)):
            c,d=lists[j][0],lists[j][1]
            if (a==c) or (b==c):
                sums=temp.groupby([a,b])[d].sum()[1][1]
                if sums>=n:
                    list.append((a,b,d,sums))
    return list
list2=threshold3(lists,df)

In [181]:
list2

[('Onion', 'Potato', 'Burger', 2),
 ('Onion', 'Potato', 'Milk', 2),
 ('Onion', 'Potato', 'Burger', 2),
 ('Onion', 'Potato', 'Milk', 2),
 ('Onion', 'Burger', 'Milk', 2),
 ('Onion', 'Burger', 'Milk', 2)]

In [182]:
list2=set(list2)
list2

{('Onion', 'Burger', 'Milk', 2),
 ('Onion', 'Potato', 'Burger', 2),
 ('Onion', 'Potato', 'Milk', 2)}

In [183]:
list2

{('Onion', 'Burger', 'Milk', 2),
 ('Onion', 'Potato', 'Burger', 2),
 ('Onion', 'Potato', 'Milk', 2)}

In [184]:
df

     Onion  Potato  Burger  Milk  Beer
t1       1       1       1     0     0
t2       1       1       0     1     0
t3       0       0       0     1     0
t4       0       1       0     0     0
t5       1       0       0     0     1
t6       1       1       1     1     0
t7       1       1       0     0     0
t8       1       0       1     1     1
t9       0       1       1     0     1
t10      1       0       0     1     0