In [1]:
import numpy as np
import pandas as pd

In [14]:
df=pd.DataFrame({'Onion':np.random.randint(0,2,10),
                 'Potato':np.random.randint(0,2,10),
                 'Burger':np.random.randint(0,2,10),
                 'Milk':np.random.randint(0,2,10),
                 'Beer':np.random.randint(0,2,10)},index=['t1','t2','t3','t4','t5','t6','t7','t8','t9','t10'])

In [15]:
df

     Onion  Potato  Burger  Milk  Beer
t1       1       1       1     1     1
t2       0       1       0     1     0
t3       0       0       1     1     0
t4       0       1       1     0     0
t5       1       1       0     1     1
t6       1       1       0     1     1
t7       1       0       1     0     0
t8       0       1       0     0     0
t9       1       0       0     0     0
t10      1       1       1     0     1

In [19]:
def thresoldcheck(df):
    dff=df.copy()
    cols=dff.columns
    n=len(dff)//2-2
    for i in range(len(cols)):
        if sum(dff[cols[i]])<n:
            dff.drop(cols[i],axis=1,inplace=True)
    return dff
    
    
df1=thresoldcheck(df)

In [20]:
df1

     Onion  Potato  Burger  Milk  Beer
t1       1       1       1     1     1
t2       0       1       0     1     0
t3       0       0       1     1     0
t4       0       1       1     0     0
t5       1       1       0     1     1
t6       1       1       0     1     1
t7       1       0       1     0     0
t8       0       1       0     0     0
t9       1       0       0     0     0
t10      1       1       1     0     1

In [48]:
df.groupby('Onion')['Potato'].sum()[1]

4

In [51]:
def thresold2(dff):
    list=[]
    cols=dff.columns
    n=len(dff)//2-2
    for i in range(len(cols)):
        for j in range(i+1,len(cols)):
            summ=dff.groupby(cols[i])[cols[j]].sum()[1]
            if summ>=n:
                list.append((cols[i],cols[j],summ))
    
    return list
thresold2(df)

[('Onion', 'Potato', 4),
 ('Onion', 'Burger', 3),
 ('Onion', 'Milk', 3),
 ('Onion', 'Beer', 4),
 ('Potato', 'Burger', 3),
 ('Potato', 'Milk', 4),
 ('Potato', 'Beer', 4),
 ('Milk', 'Beer', 3)]