In [146]:
import numpy as np
import pandas as pd

In [195]:
df=pd.DataFrame({'Onion':np.random.randint(0,2,1000),
                 'Potato':np.random.randint(0,2,1000),
                 'Burger':np.random.randint(0,2,1000),
                 'Milk':np.random.randint(0,2,1000),
                 'Beer':np.random.randint(0,2,1000)})

In [162]:
df

     Onion  Potato  Burger  Milk  Beer
t1       1       1       1     0     0
t2       1       1       0     1     0
t3       0       0       0     1     0
t4       0       1       0     0     0
t5       1       0       0     0     1
t6       1       1       1     1     0
t7       1       1       0     0     0
t8       1       0       1     1     1
t9       0       1       1     0     1
t10      1       0       0     1     0

In [196]:
def thresoldcheck(df):
    dff=df.copy()
    cols=dff.columns
    n=len(dff)//2-300
    for i in range(len(cols)):
        if sum(dff[cols[i]])<n:
            dff.drop(cols[i],axis=1,inplace=True)
    return dff
    
    
df1=thresoldcheck(df)

     Onion  Potato  Burger  Milk  Beer
0        0       1       1     0     0
1        1       1       0     1     1
2        1       1       1     1     0
3        0       1       0     1     0
4        0       1       0     0     1
..     ...     ...     ...   ...   ...
995      1       0       0     0     0
996      1       1       1     0     0
997      0       0       1     1     0
998      1       0       1     0     1
999      0       1       0     0     0

[1000 rows x 5 columns]

In [159]:
df.groupby('Onion')['Potato'].sum()[1]

2

In [198]:
def thresold2(dff):
    list=[]
    cols=dff.columns
    n=len(dff)//2-300
    for i in range(len(cols)):
        for j in range(i+1,len(cols)):
            summ=dff.groupby(cols[i])[cols[j]].sum()[1]
            if summ>=n:
                list.append((cols[i],cols[j],summ))
    
    return list
lists=thresold2(df)
lists

[('Onion', 'Potato', 250),
 ('Onion', 'Burger', 244),
 ('Onion', 'Milk', 245),
 ('Onion', 'Beer', 259),
 ('Potato', 'Burger', 254),
 ('Potato', 'Milk', 264),
 ('Potato', 'Beer', 261),
 ('Burger', 'Milk', 255),
 ('Burger', 'Beer', 253),
 ('Milk', 'Beer', 265)]

In [189]:
def threshold3(lists,dff):
    list=[]
    temp=dff.copy()
    cols=dff.columns
    n=len(dff)//2-300
    for i in range(len(lists)):
        a,b=lists[i][0],lists[i][1]
        for j in range(i+1,len(lists)):
            c,d=lists[j][0],lists[j][1]
            if (a==c) or (b==c):
                sums=temp.groupby([a,b])[d].sum()[1][1]
                if sums>=n:
                    list.append((a,b,d,sums))
    return list
list2=threshold3(lists,df)

In [190]:
list2

[('Onion', 'Potato', 'Burger', 2),
 ('Onion', 'Potato', 'Milk', 2),
 ('Onion', 'Potato', 'Burger', 2),
 ('Onion', 'Potato', 'Milk', 2),
 ('Onion', 'Burger', 'Milk', 2),
 ('Onion', 'Burger', 'Milk', 2)]

In [191]:
list2=set(list2)
list2

{('Onion', 'Burger', 'Milk', 2),
 ('Onion', 'Potato', 'Burger', 2),
 ('Onion', 'Potato', 'Milk', 2)}

In [192]:
list2

{('Onion', 'Burger', 'Milk', 2),
 ('Onion', 'Potato', 'Burger', 2),
 ('Onion', 'Potato', 'Milk', 2)}

In [193]:
df

     Onion  Potato  Burger  Milk  Beer
t1       1       1       1     0     0
t2       1       1       0     1     0
t3       0       0       0     1     0
t4       0       1       0     0     0
t5       1       0       0     0     1
t6       1       1       1     1     0
t7       1       1       0     0     0
t8       1       0       1     1     1
t9       0       1       1     0     1
t10      1       0       0     1     0