In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as pl

In [3]:
letters = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')
company_symbol = [''.join(np.random.choice(letters,5)) for i in range(20)]

In [23]:
df = pd.DataFrame({
    'contract no':np.random.randint(111111,999999,(10000)),
    'stock_symbol':np.random.choice(company_symbol,10000),
    'buyer_broker':np.random.randint(1,20,10000),
    'seller_broker':np.random.randint(1,20,10000),
    'quantity':np.random.randint(50,1000,10000),
    'rate':np.random.randint(100,10000,10000)
}).reset_index().rename(columns={'index':'sn'})

In [24]:
df["amount"] = df["quantity"]* df["rate"]

In [25]:
df.head()

,sn,contract no,stock_symbol,buyer_broker,seller_broker,quantity,rate,amount
0,0,691815,MJSIE,10,17,537,8171,4387827
1,1,232947,CEWIS,11,15,585,495,289575
2,2,700661,IQOQW,9,6,773,8904,6882792
3,3,960523,BIYTI,7,2,239,1158,276762
4,4,953959,PFLVV,8,6,615,2799,1721385