In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('01_03_2021.csv')

In [3]:
df.head()

      Transact. No. Symbol  Buyer  Seller Quantity    Rate    Amount
0  2021010304002221    BBC      5       7       30  2840.0   85200.0
1  2021010304002220    BBC      5      51       20  2840.0   56800.0
2  2021010304002082    BBC     58      56       20  2840.0   56800.0
3  2021010304002081    BBC     58       3       20  2830.0   56600.0
4  2021010304002067    BBC     58      20      200  2820.0  564000.0

In [6]:
df.duplicated('Transact. No.').sum()

2