In [22]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from gensim.models import word2vec
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Embedding
import nltk
from sklearn.preprocessing import LabelBinarizer
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer,LancasterStemmer
from wordcloud import wordcloud,STOPWORDS
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize,sent_tokenize
from bs4 import BeautifulSoup
import spacy
import re,string,unicodedata
from sklearn.linear_model import SGDClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from textblob import TextBlob,Word
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix
from nltk.tokenize.toktok import ToktokTokenizer

In [3]:
logistic=LogisticRegression()

In [23]:
tokenizer=ToktokTokenizer()

In [10]:
data=pd.read_csv('IMDB Dataset.csv')

In [11]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [14]:
data.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [17]:
pd.DataFrame(np.unique(data['sentiment'],return_counts=True))

          0         1
0  negative  positive
1     25000     25000

In [19]:
train_reviews=data.review[:40000]
train_sentiment=data.sentiment[:40000]
test_reviews=data.review[40000:]
test_sentiment=data.sentiment[40000:]
train_reviews.shape,train_reviews.shape,test_reviews.shape,train_sentiment.shape

((40000,), (40000,), (10000,), (40000,))

In [30]:
def remove_html(text):
    soup=BeautifulSoup(text,'html.parser')
    return soup.get_text()
    
def remove_square_brackets(text):
    return re.sub('\[[^]]*\]','',text)

def remove_special_chars(text):
    pattern=r'[^a-zA-Z0-9\s]'
    text=re.sub(pattern,'',text)
    return text

def denoise(text):
    text=remove_html(text)
    text=remove_square_brackets(text)
    text=remove_special_chars(text)
    return text


data['review']=data['review'].apply(denoise)

    
    
    
    
    
    
remove_html('<Html><Head><Body>Rishav</Body></Head></Html>')
remove_square_brackets('My name [is] Rishav ]')

'My name  Rishav ]'

In [31]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production The filming tech...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically theres a family where a little boy J...  negative
4  Petter Matteis Love in the Time of Money is a ...  positive

In [32]:
def simple_stemmer(text):
    ps=nltk.porter.PorterStemmer()
    text=' '.join([ps.stem(word) for word in text.split()])
    return text
data['review']=data['review'].apply(simple_stemmer)

In [33]:
data.head()

                                              review sentiment
0  one of the other review ha mention that after ...  positive
1  A wonder littl product the film techniqu is ve...  positive
2  I thought thi wa a wonder way to spend time on...  positive
3  basic there a famili where a littl boy jake th...  negative
4  petter mattei love in the time of money is a v...  positive

In [ ]:
def remove_stopwords(text):