In [1]:
import numpy as np
import pandas as pd

In [160]:
s1=pd.Series(['good boy','good girl','boy girl good'])

In [161]:
s1

0         good boy
1        good girl
2    boy girl good
dtype: object

In [111]:
temp=[]
for i in range(len(s1)):
    temp.extend(s1[i].split())
index=list(set(temp))
index

['girl', 'boy', 'good']

TF=no of rep of words in sentence/
no of words in sentence

IDF=log(no of sentences/no of sentence containing words)

In [182]:
tf=pd.DataFrame({'sent1':np.zeros(len(index)),
                'sent2':np.zeros(len(index)),
                'sent3':np.zeros(len(index))},
                index=list(set(index)))

In [185]:
a=s1[0].split()
a

['good', 'boy']

In [186]:
a.count('good')

1

In [183]:
tf

      sent1  sent2  sent3
boy     0.0    0.0    0.0
girl    0.0    0.0    0.0
good    0.0    0.0    0.0

In [190]:
for i in range(len(s1)):
    sent=s1[i].split()
    current=tf.columns[i]
    for j in range(len(sent)):
        if sent[j] in index:
            tf.loc[sent[j],current]=1/len(sent)

In [192]:
tf

      sent1  sent2     sent3
boy     0.5    0.0  0.333333
girl    0.0    0.5  0.333333
good    0.5    0.5  0.333333