In [1]:
import pandas as pd
import matplotlib.pyplot as pl

C:\Users\rissu\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
df=pd.read_json('train-v2.0.json')

In [4]:
df.head()

  version                                               data
0    v2.0  {'title': 'Beyoncé', 'paragraphs': [{'qas': [{...
1    v2.0  {'title': 'Frédéric_Chopin', 'paragraphs': [{'...
2    v2.0  {'title': 'Sino-Tibetan_relations_during_the_M...
3    v2.0  {'title': 'IPod', 'paragraphs': [{'qas': [{'qu...
4    v2.0  {'title': 'The_Legend_of_Zelda:_Twilight_Princ...

In [43]:
temp=df['data'][0]

In [44]:
par=temp['paragraphs']

In [74]:
ques=par[0]['qas']
ques[0]

{'plausible_answers': [{'text': 'ordinary matter composed of atoms',
   'answer_start': 50}],
 'question': 'What did the term matter include after the 20th century?',
 'id': '5a7db48670df9f001a87505f',
 'answers': [],
 'is_impossible': True}

In [68]:
questions=[]
answers=[]
answer_start=[]
is_answerable=[]

In [72]:
for sample in df['data']:
    par=sample['paragraphs']
    ques=par[0]['qas']
    for i in ques:
        questions.append(i['question'])
        if i['answers']:
            answers.append(i['answers'][0]['text'])
            answer_start.append(i['answers'][0]['answer_start'])
        else:
            answers.append('Null')
        is_answerable.append(i['is_impossible'])

In [ ]:
df=