In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.DataFrame({"A":np.random.randint(1,10,10),
                   "B":np.random.randint(1,10,10),
                   "C":np.random.randint(1,10,10),
                   "D":np.random.randint(1,10,10)})

In [5]:
data.to_csv("sample.csv")

In [19]:
data=pd.read_csv("sample.csv",sep=',')

In [21]:
data=data.drop("Unnamed: 0",axis=1)

In [22]:
data

   A  B  C  D
0  2  7  6  1
1  2  2  7  7
2  9  7  8  3
3  9  6  6  7
4  1  4  2  2
5  3  3  1  5
6  2  8  4  7
7  5  5  5  4
8  2  6  9  6
9  6  5  6  7

In [24]:
!cat sample.csv

'cat' is not recognized as an internal or external command,
operable program or batch file.