In [9]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [28]:
eng=pd.read_csv('train.en',sep='\n',names=['Text'])
nep=pd.read_csv('train.ne',sep='\n',names=['Text'])

In [29]:
eng.head()

                                                Text
0  It happened after the death of Saul, when Davi...
1  it happened on the third day, that behold, a m...
2  David said to him, "Where do you come from?" H...
3  David said to him, "How did it go? Please tell...
4  David said to the young man who told him, "How...

In [30]:
nep.head()

                                                Text
0  दाऊदले अमालेकीहरूलाई हराएर पछि सिकलग गए। यो शा...
1  तब तेस्रो दिनमा एउटा जवान सैनिक सिकलगमा आयो। त...
2  दाऊदले त्यसलाई सोधे, “तिमी कहाँबाट आयौ?” त्यस ...
3  दाऊदले भने, “मलाई भन, के भयो?” त्यसले भन्यो, “...
4  दाऊदले त्यस सैनिकलाई भने, “तिमीले कसरी जान्यौ ...

In [31]:
eng['Text'][0],nep['Text'][0]

('It happened after the death of Saul, when David was returned from the slaughter of the Amalekites, and David had stayed two days in Ziklag;',
 'दाऊदले अमालेकीहरूलाई हराएर पछि सिकलग गए। यो शाऊलको मृत्यु भएको केही दिन पछिको कुरा हो। दाऊद त्यहाँ दुइ दिन बसे।')