In [2]:
from textblob import TextBlob
words = ["Data Scence", "Mahine Learnin"]
corrected_words = []
for i in words:
    corrected_words.append(TextBlob(i))
print("Wrong words :", words)
print("Corrected Words are :")
for i in corrected_words:
    print(i.correct(), end=" ")

Wrong words : ['Data Scence', 'Mahine Learnin']
Corrected Words are :
Data Science Machine Learning

In [8]:
words = ["Mltiple", "Big buldin"]
corrected_words = []
for i in words:
    corrected_words.append(TextBlob(i))
print("Wrong words :", words)
print("Corrected Words are :")
for i in corrected_words:
    print(i.correct(), end=" ")

Wrong words : ['Mltiple', 'Big buldin']
Corrected Words are :
Multiple Fig building

In [1]:
import pandas as pd

In [2]:
data = [{'name':'Rishav','address':'Kathmandu'},{'name':'Rejina','address':'Duwakot'}]

In [3]:
data

[{'name': 'Rishav', 'address': 'Kathmandu'},
 {'name': 'Rejina', 'address': 'Duwakot'}]

In [11]:
df = pd.DataFrame(data)
df

     name    address
0  Rishav  Kathmandu
1  Rejina    Duwakot

In [18]:
df.to_json(orient = 'records')

'[{"name":"Rishav","address":"Kathmandu"},{"name":"Rejina","address":"Duwakot"}]'