In [2]:
import pandas as pd
import numpy as np

In [3]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
movies = pd.read_csv('http://bit.ly/imdbratings')
orders = pd.read_csv('http://bit.ly/chiporders', sep='\t')
orders['item_price'] = orders.item_price.str.replace('$', '').astype('float')
stocks = pd.read_csv('http://bit.ly/smallstocks', parse_dates=['Date'])
titanic = pd.read_csv('http://bit.ly/kaggletrain')
ufo = pd.read_csv('http://bit.ly/uforeports', parse_dates=['Time'])

<ipython-input-3-4617535c6180>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  orders['item_price'] = orders.item_price.str.replace('$', '').astype('float')

In [4]:
pd.__version__

'1.2.4'

In [5]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 2cb96529396d93b46abab7bbc73a208e708c642e
python           : 3.9.5.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19043
machine          : AMD64
processor        : Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 1.2.4
numpy            : 1.20.3
pytz             : 2021.1
dateutil         : 2.8.1
pip              : 21.1.2
setuptools       : 56.0.0
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : 4.6.3
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.0.1
IPython          : 7.23.1
pandas_datareader: None
bs4              : None
bottleneck       : None
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : 3.4.2
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : 4.0.0
pyxlsb           : None
s3fs             : None
scipy            : 1.6.3
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
numba            : None

In [6]:
df = pd.DataFrame({'col one':[100, 200], 'col two':[300, 400]})
df

   col one  col two
0      100      300
1      200      400

In [7]:
pd.DataFrame(np.random.rand(4, 8))

,0,1,2,3,4,5,6,7
0,0.548658,0.197130,0.066612,0.874391,0.477637,0.435805,0.054728,0.327645
1,0.426628,0.046769,0.700025,0.073642,0.018852,0.555279,0.585201,0.198876
2,0.581446,0.482630,0.897286,0.912062,0.836040,0.038086,0.594960,0.125842
3,0.656066,0.916626,0.240182,0.315740,0.891838,0.878786,0.118732,0.465380

In [8]:
pd.DataFrame(np.random.rand(4, 8), columns=list('abcdefgh'))

,a,b,c,d,e,f,g,h
0,0.632757,0.553075,0.605553,0.070913,0.441792,0.571028,0.456038,0.338808
1,0.929194,0.421810,0.373446,0.927708,0.204048,0.217899,0.196122,0.027620
2,0.535752,0.504178,0.370456,0.034108,0.200653,0.514287,0.487797,0.229160
3,0.668920,0.761944,0.761312,0.917705,0.290875,0.329195,0.500522,0.464989

In [9]:
df = df.rename({'col one':'col_one', 'col two':'col_two'}, axis='columns')
df

   col_one  col_two
0      100      300
1      200      400

In [12]:
df.add_prefix("before_")

   before_col_one  before_col_two
0             100             300
1             200             400

In [13]:
df.add_suffix("_after")

   col_one_after  col_two_after
0            100            300
1            200            400

In [15]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [16]:
drinks[::-1].head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
192,Zimbabwe,64,18,4,4.7,Africa
191,Zambia,32,19,4,2.5,Africa
190,Yemen,6,0,0,0.1,Asia
189,Vietnam,111,2,1,2.0,Asia
188,Venezuela,333,100,3,7.7,South America

In [20]:
drinks.loc[::5].head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
5,Antigua & Barbuda,102,128,45,4.9,North America
10,Azerbaijan,21,46,5,1.3,Europe
15,Belarus,142,373,42,14.4,Europe
20,Bolivia,167,41,8,3.8,South America