In [3]:
import pandas as pd
import numpy as np
import random as rd 
from sklearn.decomposition import PCA
from sklearn import preprocessing
import matplotlib.pyplot as pl

In [22]:
genes=['gene'+str(i) for i in range(1,101)]
wt=['wt'+str(i) for i in range(1,6)]
ko=['ko'+str(i) for i in range(1,6)]
data=pd.DataFrame(columns=[*wt,*ko],index=genes)

In [23]:
data

         wt1  wt2  wt3  wt4  wt5  ko1  ko2  ko3  ko4  ko5
gene1    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
gene2    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
gene3    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
gene4    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
gene5    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
gene96   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
gene97   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
gene98   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
gene99   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
gene100  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[100 rows x 10 columns]

In [52]:
for gene in data.index:
    data.loc[gene,'wt1':'wt5']=np.random.poisson(lam=rd.randrange(10,1000),size=5)
    data.loc[gene,'ko1':'ko5']=np.random.poisson(lam=rd.randrange(10,1000),size=5)

In [39]:
data.loc[['gene1','gene6'],'wt1':'wt5']

       wt1  wt2  wt3  wt4  wt5
gene1  338  307  309  295  303
gene6  907  896  924  941  879

In [53]:
data

         wt1   wt2  wt3  wt4  wt5  ko1  ko2  ko3  ko4  ko5
gene1    964   982  953  913  833  936  988  960  993  971
gene2    955  1006  996  975  974  730  695  658  722  657
gene3    983   931  946  901  940  778  775  785  729  806
gene4     65    82   83   79   86  262  198  236  280  261
gene5    600   577  578  589  561  956  954  994  996  971
...      ...   ...  ...  ...  ...  ...  ...  ...  ...  ...
gene96   624   632  612  654  658  378  332  352  378  378
gene97   888   883  848  805  939  159  175  174  147  163
gene98   226   216  235  208  237  360  335  317  348  360
gene99   791   704  759  784  809  264  269  249  245  274
gene100  489   461  506  461  455  165  171  178  149  177

[100 rows x 10 columns]

In [51]:
# or we can also generate rando, numbers like this
a=np.random.randint(10,1000,(100,10))
pd.DataFrame(a,columns=[*wt,*ko],index=genes)

         wt1  wt2  wt3  wt4  wt5  ko1  ko2  ko3  ko4  ko5
gene1    884  998  452  533  349  366  385   36  790  637
gene2    822  868  552  173   15  507  968  922   49   61
gene3    167  609  964  561  527  947  309  926  368  642
gene4    635  566  590  129   42   94  573  299  767   62
gene5    816  105  931  532  400   54  217  507  281  339
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
gene96   229  911  410  873   93  918  831  449   71  815
gene97   557  239  660  233  547  646  628  547  420  985
gene98   172  465  889   89  427  595  709  673  915  559
gene99   624  769  825  244   74  550  693  894  478  909
gene100  814  452  986  391  446  792  973  706  334  142

[100 rows x 10 columns]

In [ ]:
import numpy as np
s = np.random.poisson(5, 10000)
# Display histogram of the sample:

import matplotlib.pyplot as plt
count, bins, ignored = plt.hist(s, 14, normed=True)
plt.show()