In [127]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl
import seaborn as sns

In [153]:
x1=np.array([[4,1],[2,4],[2,3],[3,6],[4,4]])
x2=np.array([[9,10],[6,8],[9,5],[8,7],[10,8]])
df=pd.DataFrame({"X1":np.array(np.hstack([x1[:,0],x1[:,1]])),
                 "X2":np.array(np.hstack([x2[:,0],x2[:,1]]))})
df

   X1  X2
0   4   9
1   2   6
2   2   9
3   3   8
4   4  10
5   1  10
6   4   8
7   3   5
8   6   7
9   4   8

In [149]:
np.array(np.hstack([x1[:,0],x2[:,1]]))

array([ 4,  2,  2,  3,  4, 10,  8,  5,  7,  8])

In [124]:
M1=np.array([np.mean(x1[:,0]),np.mean(x1[:,1])])
M2=np.array([np.mean(x2[:,0]),np.mean(x2[:,1])])
M=(M1+M2)/2
s1=(np.dot((x1-M1).T,(x1-M1)))/5
s2=(np.dot((x2-M2).T,(x2-M2)))/5
s_w=s1+s2

array([5.7, 5.6])

In [106]:
s_b=np.dot((M1-M2).reshape(-1,1),(M1-M2).reshape(1,-1))
s_b

array([[29.16, 21.6 ],
       [21.6 , 16.  ]])

In [122]:
eig_v=np.linalg.eig(np.dot(s_b,np.linalg.inv(s_w)))
eig_v

(array([ 1.56568502e+01, -4.44089210e-16]), array([[ 0.80355719, -0.39295122],
        [ 0.59522755,  0.91955932]]))

array([[0.38412292, 0.03201024],
       [0.03201024, 0.19206146]])