In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame({'key':list("ABCABC"),
              'data1':np.arange(6),
              'data2':np.arange(2,8)})
df

  key  data1  data2
0   A      0      2
1   B      1      3
2   C      2      4
3   A      3      5
4   B      4      6
5   C      5      7

In [8]:
df.groupby('key').aggregate({'data1':'min',
                            'data2':'max'})

     data1  data2
key
A        0      5
B        1      6
C        2      7

In [11]:
def norm_by_data2(x):
    x["data1"]/=x['data2'].sum()
    return x
df

  key  data1  data2
0   A      0      2
1   B      1      3
2   C      2      4
3   A      3      5
4   B      4      6
5   C      5      7

In [12]:
df.groupby("key").apply(norm_by_data2)

  key     data1  data2
0   A  0.000000      2
1   B  0.111111      3
2   C  0.181818      4
3   A  0.428571      5
4   B  0.444444      6
5   C  0.454545      7

In [13]:
L=[0,1,0,1,2,0]

In [ ]:
df.groupby()