In [141]:
from random import shuffle
import numpy as np
from functools import reduce
a=[1,2,3,4,5]
shuffle(a)
a

[3, 5, 2, 4, 1]

In [116]:
a="abcdefghijklmnopqrstuvwxyz"
len(a)

26

In [128]:
a=np.arange(10)
for i in range(len(a)):
    if(a[i]%2==1):
        a[i]=-1
a
# or below code:
# a[a%2==1]=-1
# a

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [147]:
a=[[1,2,3,4,5,6,7,8,9,10],[2,3,7,8,9,6,4]]
b=[[1,4,56,3,78,4,98,3,6,1],[9,5,4,7,9,6,3,1,4]]
np.intersect1d(a,b)
reduce(np.intersect1d,a)

array([2, 3, 4, 6, 7, 8, 9])

In [151]:
import pandas as pd
ser=pd.Series(['mary','sam','bee','yehu'])
ser

0    mary
1     sam
2     bee
3    yehu
dtype: object

In [154]:
ser=ser.map(lambda x: x.title())
ser

0    Mary
1     Sam
2     Bee
3    Yehu
dtype: object

In [158]:
ser=pd.Series(['mary','sam','bee','yehu'])
ser=ser.map(lambda x: len(x))
ser

0    4
1    3
2    3
3    4
dtype: int64