In [1]:
import pandas as pd

In [4]:
df = pd.read_json('floorsheet_calculate.txt')

In [6]:
df.head()

,broker_name,buyer_broker,seller_broker,rate,amount,quantity
0,Rishav Paudel pvt ltd 16,16,1,8156,398502160,48860
1,Rishav Paudel pvt ltd 1,1,9,31806,1472395158,46293
2,Rishav Paudel pvt ltd 1,1,34,14472,497692080,34390
3,Rishav Paudel pvt ltd 1,1,20,31626,473093334,14959
4,Rishav Paudel pvt ltd 1,1,13,44754,1544460540,34510

In [21]:
df.groupby('buyer_broker')[['amount']].sum()

                    amount
buyer_broker
1             691947419364
2               3305174999
3              15729443326
4              18515067607
5              15443404446
6              20869313524
7              14509055258
8              12591549844
9              32784596874
10             19634623944
11              8918873628
12             12689397039
13             14446652806
14             19787640195
15              5324058644
16             43812689466
17              7085496028
18             13335004524
19              3271671857
20              6698310064
21             20168775095
22             10058332210
23              8815771734
24              9018416449
25               146618098