In [1]:
import pandas as pd

In [2]:
run1 = pd.read_csv("run-2.csv").set_index('Unnamed: 0')
run1

,lru_l,lru_g,fifo_l,fifo_g,mru_l,mru_g,lfu_l,lfu_g,rr_l,rr_g,...,lru_l.4,lru_g.4,fifo_l.4,fifo_g.4,mru_l.4,mru_g.4,lfu_l.4,lfu_g.4,rr_l.4,rr_g.4
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
Page Fault,13,27,26,23,13,14,17,22,26,26,...,10,10,7,10,11,10,8,12,11,10
Page Hit,27510,27481,27488,27497,27510,27508,27493,27489,27487,27491,...,20803,20781,20797,20800,20802,20804,20810,20790,20792,20797
Page Replace,P-0,P-0,P-0,P-0,P-0,P-0,P-0,P-0,P-0,P-0,...,P-4,P-4,P-4,P-4,P-4,P-4,P-4,P-4,P-4,P-4
Process,NaN,15,9,3,NaN,1,13,12,10,6,...,11,33,20,14,11,10,6,22,21,17
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,Frame 8 page size 2048,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
temp_df = run1.T.iloc[:,:4].rename(columns= {'Unnamed: 0':'algo'}).reset_index()

In [4]:
temp_df[temp_df['index'].str.startswith('fifo_l')]

Unnamed: 0     index Page Fault Page Hit Page Replace Process
2             fifo_l         26    27488          P-0       9
12          fifo_l.1          7    23109          P-1      18
22          fifo_l.2         10    13304          P-2       9
32          fifo_l.3          1    26448          P-3      28
42          fifo_l.4          7    20797          P-4      20