In [1]:
import pandas as pd
import numpy as np

In [15]:
df=pd.read_csv('play.csv')
df

     Outlook  Temp Humidity  Windy Play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [71]:
a,b=np.unique(df.Outlook,return_counts=True)
b

array([4, 5, 5], dtype=int64)

In [16]:
np.unique(df.Temp,return_counts=True)

(array(['cool', 'hot', 'mild'], dtype=object), array([4, 4, 6], dtype=int64))

In [17]:
np.unique(df.Humidity,return_counts=True)

(array(['high', 'normal'], dtype=object), array([7, 7], dtype=int64))

In [18]:
np.unique(df.Windy,return_counts=True)

(array([False,  True]), array([8, 6], dtype=int64))

In [19]:
np.unique(df.Play,return_counts=True)

(array(['no', 'yes'], dtype=object), array([5, 9], dtype=int64))

In [24]:
df[(df.Outlook=='overcast') & (df.Play=='yes')]

     Outlook  Temp Humidity  Windy Play
2   overcast   hot     high  False  yes
6   overcast  cool   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes

In [27]:
df[(df.Outlook=='rainy') & (df.Play=='yes')]

  Outlook  Temp Humidity  Windy Play
3   rainy  mild     high  False  yes
4   rainy  cool   normal  False  yes
9   rainy  mild   normal  False  yes

In [28]:
df[(df.Outlook=='rainy') & (df.Play=='no')]

   Outlook  Temp Humidity  Windy Play
5    rainy  cool   normal   True   no
13   rainy  mild     high   True   no

In [29]:
df[(df.Outlook=='sunny') & (df.Play=='yes')]

   Outlook  Temp Humidity  Windy Play
8    sunny  cool   normal  False  yes
10   sunny  mild   normal   True  yes

In [37]:
df[(df.Outlook=='sunny') & (df.Play=='no')]

  Outlook  Temp Humidity  Windy Play
0   sunny   hot     high  False   no
1   sunny   hot     high   True   no
7   sunny  mild     high  False   no

In [75]:
df.head()

    Outlook  Temp Humidity  Windy Play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [126]:
a,b=np.unique(df.Outlook,return_counts=True)
b

array([4, 5, 5], dtype=int64)

In [118]:
def entropy(b):
    summ=[]
    b=b/np.sum(b)
    for i in b:
        ent=-i*np.log2(i)
        summ.append(ent)
    return np.sum(summ)

In [125]:
a,b=np.unique(df.Play,return_counts=True)
entropy(b)

0.9402859586706311