# Key -> Data -> Split -> Apply -> Combine

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl
import seaborn as sns
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
'key2' : ['one', 'two', 'one', 'two', 'one'],
'data1' : np.random.randn(5),
'data2' : np.random.randn(5)})

In [9]:
df

  key1 key2     data1     data2
0    a  one  1.065871  0.224910
1    a  two -1.037067  0.557630
2    b  one  0.282359  0.291158
3    b  two  0.483487  0.913623
4    a  one  0.877812  0.578754

In [8]:
pd.crosstab(df['key1'],df['key2'])

key2  one  two
key1
a       2    1
b       1    1

In [14]:
grouped=df['data1'].groupby(df['key1'])
grouped

In [15]:
grouped.mean()

key1
a    0.302205
b    0.382923
Name: data1, dtype: float64